<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <!-- <h3>Gp<span>.</span></h3> -->
                        <a href="index.html" class="logo"><img src="images/logo.png" alt="" class="img-fluid"></a>
                        <p>
                            Rue 3.428, Ngoa-Ekelle, <br>
                            Yaounde, Centre Cameroon<br><br>
                            <strong>Phone:</strong> (+237) 673 289 938 <br>
                            <strong>Email:</strong> info@miafrik.org<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/miaforall" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/MIA4all" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/mia4all/" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                            <a href="https://www.linkedin.com/company/mia4-all" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCsJoCUStMYFesaHJgL-a63Q" class="youtube"><i
                                    class="bx bxl-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="./assets/pages/aboutUs.html">About us</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="./assets/pages/miaOrients.html">Services</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="./assets/pages/miaOrients.html">Career
                                Orientation and Counseling</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="./assets/pages/miaOlypia.html">College
                                Readiness programs</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="./assets/pages/e-library.html">Online
                                education accesses</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="./assets/pages/ourProgram.html">Professional
                                Development</a></li>
                        <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our Newsletter and stay updated</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>MIA</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a href="#home" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs"
    title="home" role="button">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Footer Ends -->

<!-- JQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.min.js"></script>

<!-- Owl Carousel JS -->
<script src="/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Waypoints -->
<script src="/js/waypoints/jquery.waypoints.min.js"></script>

<!-- Responsive Tabs JS -->
<script src="/js/responsive-tabs/jquery.responsiveTabs.min.js"></script>

<!-- Isotope -->
<script src="/js/isotope/isotope.pkgd.min.js"></script>

<!-- Magnific Popup -->
<script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Counter -->
<script src="/js/counter/jquery.counterup.min.js"></script>

<!-- Easing -->
<script src="/js/easing/jquery.easing.1.3.min.js"></script>

<!-- WOW JS -->
<script src="/js/wow/wow.min.js"></script>

<!-- Custom JS -->
<script src="/js/script.js"></script>

<!-- Slide JS -->
<!-- <script src="/js/slide.js"></script> -->

<!-- Portfolio Slider -->
<script src="/js/swiper.min.js"></script>

<script src="/js/util.js"></script>

<script src="/js/main.js"></script>


<!-- Initialize Swiper -->
<!-- <script>
     var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      hashNavigation: {
        watchState: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script> -->
<!-- <script type="text/javascript">
   const form = document.getElementById('searchform');
   form.addEventListener('submit', function(e){
        windows.location = 'https//www.google.com/search?q=site:www.open-dreams.org'
            return false;
     });
</script> -->

</body>

</html>