/**
* Template Name: Gp - v2.2.1
* Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffc451;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ffc451;
  color: #151515;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #151515;
  color: #ffc451;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #151515;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #ffc451;
  border-top-color: #151515;
  border-bottom-color: #151515;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background:#ffffff;
}

#header.header-scrolled, #header.header-inner-pages {
  /* background: rgba(0, 0, 0, 0.8); */
  background:#ffffff;
  
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#footer .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo a span {
  color: #ffc451;
}

#header .logo img {
  max-height: 80px;
}

#footer .logo img {
  max-height: 100px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  /* color: #fff; */
  color: #151515;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #FFAB32;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

#nav-icons{
  color:#FFAB32;
  font-size: xx-large;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #151515;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #151515;
  background: #ffc451;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  color: #fff;
  background: #ffbb38;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #ffc451;
}

.get-started-btn:hover {
  cursor: pointer;
  /* background: #ffbb38;
  color: #343a40; */
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 7px 20px 8px 20px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  /* position: relative; */
  top: 30px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 40px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #B8FF33;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  width: 50%;
  height: 75%;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #151515;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #151515;
  text-decoration: none;
  background: #ffc451;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero1 {
  width: 100%;
  height: 100vh;
  background: url("../img/mia_students.jpg") top center;
  background-size: cover;
  position: relative;
} 

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: inherit;
  height: inherit;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/mia_students.jpg") top center;
  background-size: cover;
  }


#hero {
  width: 100%;
  height: 70vh;
  background:#ffc451 ;
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: justify;
}

#hero:before {
  content: "";
  /* background: rgba(0, 0, 0, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 40px;
  position: relative;
}

#hero h1 {
  text-align: center;
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero h1 span {
  color: #ffc451;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 20px;
}
#hero .know-more{
  position: relative;
  align-self: center;
  left: 12rem;
  top: 2rem;
  background-color: #B8FF33;
  /* color: whitesmoke; */
}

#hero .know-more a{
  color: black;
}

#hero .icon-box {
  padding: 20px 20px;
  transition: ease-in-out 0.3s;
  /* background-color: #fff; */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  height: 100%;
  text-align: center;
  /* border-radius: 50%;  */
  /* numbers withhin circle and text outside. increase space withinb flex content*/
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
}

#hero .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: #ffc451;
  color: #ffff;
}

#hero h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 26px;
}

#hero h3 a {
  /* color: #fff; */
  /* color: #B8FF33; */
  /* color: #000; */
  color: #ffff;
  transition: ease-in-out 0.3s;
}

#hero h3 a:hover {
  color: #fff;
}

#hero .icon-box:hover {
  border-color: #ffc451;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #ffc451;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding-top: 20px;
}

.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 70%;
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .owl-item img:hover {
  filter: none;
  opacity: 1;
}

.clients .owl-nav, .clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #ffc451 !important;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 20px;
}

.features .icon-box {
  padding-left: 15px;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #ffc451;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #ffc451;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
}

.services .icon-box .icon i {
  color: #151515;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #151515;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 a:hover {
  color: #ffc451;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mia_img_folder/_MG_9112.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  color: #fff;
  background: #ffbb38;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #ffc451;
}

.cta .cta-btn:hover {
  cursor: pointer;
  /* background: #ffc451;
  border-color: #ffc451;
  color: #151515; */
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #151515;
  background: #ffc451;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(21, 21, 21, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(21, 21, 21, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #ffc451;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts .content {
  padding: 30px 0;
}

.counts .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #151515;
}

.counts .content p {
  margin-bottom: 0;
}

.counts .content .count-box {
  padding: 20px 0;
  width: 100%;
}

.counts .content .count-box i {
  display: block;
  font-size: 36px;
  color: #ffc451;
  float: left;
}

.counts .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #151515;
  margin-left: 50px;
}

.counts .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #3b3b3b;
}

.counts .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #3b3b3b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .content .count-box a:hover {
  color: #626262;
}

.counts .image {
  background: url("../img/logo.png") center center no-repeat;
  background-size: cover;
  min-height: 400px;
}

@media (max-width: 991px) {
  .counts .image {
    text-align: center;
  }
  .counts .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("../img/mia_students.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.6);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.testimonials .owl-dot.active {
  background-color: #ffc451 !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #151515;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #ffc451;
}

.team .member .social a:hover {
  color: #fff;
  background: #ffc451;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #151515;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  background: #ffc451;
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ffc451;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ffcd6b;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: whitesmoke;
  min-height: 40px;
  margin-top: 74px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #2f2f2f;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #ffc451 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #ffc451;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #B8FF33;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ffc451;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #ffcd6b;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
/*********************/
/*     05. Intro     */
/*********************/
.basic-1 {
	padding-top: 6.5rem;
	padding-bottom: 3rem;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .section-title {
	margin-bottom: 0.5rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
  font-weight: 700;
  font-size: 3rem;
  color: #FFAB32;
}

.basic-1 .testimonial-author {
	color: #484a46;
}

/* Hover Animation */
.basic-1 .image-container {
	overflow: hidden;
	border-radius: 0.25rem;
}

.basic-1 .image-container img {
	margin: 0;
	border-radius: 0.25rem;
	transition: all 0.3s;
}

.basic-1 .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

/* =========================================
                Clients
============================================ */

#clients .horizontal-heading {
  margin-bottom: 30px;
}

#clients-list {
  padding: 45px 0 0 0;
}

.client {
  padding: 0 10px;
  max-width: 150px;
  margin: 0 auto;
  line-height: 100px;
}

.client img {
  display: inline-block !important;
}

/* Intro */
.basic-1 .text-container {
  margin-top: 1.875rem;
  margin-right: 3rem;
}
/* end of intro */
.section-title {
	color: #14bf98;
	font: 500 0.8125rem/1.125rem "Montserrat", sans-serif;
}
.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font: 700 1rem/1.375rem "Montserrat", sans-serif;
}

.text-container p{
  font-size: 1.5rem;
  color: #151515;
}

strong {
	color: #484a46;
}
#ourVison{
  background-color: #B8FF33;
}

#ourMission{
  background-color: #FFAB32;
}

#ourMission .basic-1 h2{
  color: #B8FF33;
}
.accordion .area-1 {
	height: 27rem;
	background: url('../img/ourApproach/3rd.png') center center no-repeat;
	background-size: cover;
}


.accordion .accordion-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 6.375rem;
	padding-bottom: 1.5rem;
}

.accordion h2 {
	margin-bottom: 1.625rem;
}

.accordion .item {
	margin-bottom: 2rem;
}
.accordion {
  height: 34.625rem;
  /* display: flex; */
}

.accordion h4 {
	margin-bottom: 0;
}

.accordion span[aria-expanded="true"] .circle-numbering,
.accordion span[aria-expanded="false"] .circle-numbering {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 0.875rem;
	border: 0.125rem solid #14bf98;
	border-radius: 50%;
	background-color: #14bf98;
	color: #fff;
	font: 700 1rem/2.125rem "Montserrat", sans-serif;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion span[aria-expanded="false"] .circle-numbering {
	border: 0.125rem solid #484a46;
	background-color: transparent;
	color: #484a46;
}

.accordion .item:hover span[aria-expanded="false"] .circle-numbering {
	border: 0.125rem solid #14bf98;
	color: #14bf98;
}

.accordion .accordion-title {
	display: inline-block;
	width: 70%;
	margin-top: 0.125rem;
	margin-bottom: 0.25rem;
	color: #484a46;
	font: 700 1.25rem/1.75rem "Montserrat", sans-serif;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion .item:hover .accordion-title {
	color: #14bf98;
}

.accordion span[aria-expanded="true"] .accordion-title {
  color: #14bf98;
}

.accordion .accordion-body {
	margin-left: 3.125rem;
}

.accordion .accordion-container {
  max-width: 70%;
}

.accordion .area-1 {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.accordion .area-2 {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.accordion .accordion-container {
  max-width: 88%;
  margin-left: 2rem;
  padding-bottom: 0;
}

.accordion .accordion-title {
  width: 85%;
}
	/* Details 1 */
	.accordion .accordion-container {
		max-width: 28rem;
		margin-left: 5rem;
	}
	/* end of details 1 */

  #banner {
		padding: 8em 0 6em 0;
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
    /* background-color: rgba(0, 0, 0, 0.7); */
		background-attachment: fixed;
		/* background-image: url("images/overlay.png"), url("../../images/banner.jpg"); */
		background-size: cover;
		text-align: center;
	}

  /* can be taken out */

  #banner input, #banner select, #banner textarea {
    color: #fff;
  }

  #banner a {
    color: #51BAA4;
  }

  #banner strong, #banner b {
    color: #fff;
  }

  #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #fff;
  }

  #banner blockquote {
    border-left-color: transparent;
  }

  #banner code {
    background: rgba(255, 255, 255, 0.05);
    border-color: transparent;
  }

  #banner hr {
    border-bottom-color: transparent;
  }

  #banner input[type="submit"],
  #banner input[type="reset"],
  #banner input[type="button"],
  #banner button,
  #banner .button {
    background-color: #fff;
    box-shadow: none;
    color: #1E2832 !important;
  }

    #banner input[type="submit"].icon:before,
    #banner input[type="reset"].icon:before,
    #banner input[type="button"].icon:before,
    #banner button.icon:before,
    #banner .button.icon:before {
      color: #a5a9ad;
    }

    #banner input[type="submit"]:hover,
    #banner input[type="reset"]:hover,
    #banner input[type="button"]:hover,
    #banner button:hover,
    #banner .button:hover {
      background-color: white;
    }

    #banner input[type="submit"]:active,
    #banner input[type="reset"]:active,
    #banner input[type="button"]:active,
    #banner button:active,
    #banner .button:active {
      background-color: #f2f2f2;
    }

    #banner input[type="submit"].special,
    #banner input[type="reset"].special,
    #banner input[type="button"].special,
    #banner button.special,
    #banner .button.special {
      background-color: #51BAA4;
      box-shadow: none;
      color: #fff !important;
    }

      #banner input[type="submit"].special:hover,
      #banner input[type="reset"].special:hover,
      #banner input[type="button"].special:hover,
      #banner button.special:hover,
      #banner .button.special:hover {
        background-color: #63c1ae;
      }

      #banner input[type="submit"].special:active,
      #banner input[type="reset"].special:active,
      #banner input[type="button"].special:active,
      #banner button.special:active,
      #banner .button.special:active {
        background-color: #45ad97;
      }

    #banner input[type="submit"].alt,
    #banner input[type="reset"].alt,
    #banner input[type="button"].alt,
    #banner button.alt,
    #banner .button.alt {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #fff;
      color: #fff !important;
    }

      #banner input[type="submit"].alt:hover,
      #banner input[type="reset"].alt:hover,
      #banner input[type="button"].alt:hover,
      #banner button.alt:hover,
      #banner .button.alt:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }

      #banner input[type="submit"].alt:active,
      #banner input[type="reset"].alt:active,
      #banner input[type="button"].alt:active,
      #banner button.alt:active,
      #banner .button.alt:active {
        background-color: rgba(255, 255, 255, 0.1);
      }

  #banner h2 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  #banner p {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-transform: uppercase;
  }

  #banner .icon {
    border-radius: 100%;
    border: solid 2px #fff;
    color: #fff;
    display: inline-block;
    font-size: 3em;
    height: 2.25em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 2.25em;
  }

  @media screen and (max-width: 1680px) {

    #banner {
      padding: 11em 0 9em 0;
    }

  }

  @media screen and (max-width: 1280px) {

    #banner {
      padding: 9em 0 7em 0;
    }

      #banner h2 {
        font-size: 2em;
      }

  }

  @media screen and (max-width: 980px) {

    #banner {
      padding: 8em 2em 6em 2em;
    }

  }

  @media screen and (max-width: 736px) {

    #banner {
      padding: 5em 2em 3em 2em;
    }

      #banner h2 {
        font-size: 1.5em;
      }

      #banner p {
        font-size: 1em;
      }

      #banner .icon {
        font-size: 2em;
      }

  }

  @media screen and (max-width: 480px) {

    #banner {
      padding: 5em 2em 3em 2em;
    }

      #banner .icon {
        font-size: 1.5em;
      }

  }

/* Main */

/* #main {
  padding: 5em 0 3em 0;
}

  @media screen and (max-width: 1280px) {

    #main {
      padding: 4em 0 2em 0;
    }

  }

  @media screen and (max-width: 980px) {

    #main {
      padding: 3em 0 1em 0;
    }

  }

  @media screen and (max-width: 736px) {

    #main {
      padding: 2em 0 0.1em 0;
    }

  } */

  /* can go out two */
  /* Wrapper */

	.wrapper {
		padding: 8em 0 6em 0;
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 70em;
		}

		.wrapper.style1 {
			background-color: #EEE;
			color: #777;
		}

			.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
				color: #555;
			}

			.wrapper.style1 a {
				color: #51BAA4;
			}

			.wrapper.style1 strong, .wrapper.style1 b {
				color: #555;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
				color: #555;
			}

			.wrapper.style1 blockquote {
				border-left-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 code {
				background: #fff;
				border-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 hr {
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 header p {
				color: #555;
			}

			.wrapper.style1 .feature {
				background-color: #fff;
			}

			.wrapper.style1 label {
				color: #555;
			}

			.wrapper.style1 input[type="text"],
			.wrapper.style1 input[type="password"],
			.wrapper.style1 input[type="email"],
			.wrapper.style1 select,
			.wrapper.style1 textarea {
				background-color: #fff;
				border-color: rgba(144, 144, 144, 0.25);
				color: inherit;
			}

				.wrapper.style1 input[type="text"]:focus,
				.wrapper.style1 input[type="password"]:focus,
				.wrapper.style1 input[type="email"]:focus,
				.wrapper.style1 select:focus,
				.wrapper.style1 textarea:focus {
					border-color: #51BAA4;
					box-shadow: 0 0 0 1px #51BAA4;
				}

			.wrapper.style1 .select-wrapper:before {
				color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 input[type="checkbox"] + label,
			.wrapper.style1 input[type="radio"] + label {
				color: #777;
			}

				.wrapper.style1 input[type="checkbox"] + label:before,
				.wrapper.style1 input[type="radio"] + label:before {
					background-color: #fff;
					border-color: rgba(144, 144, 144, 0.25);
				}

			.wrapper.style1 input[type="checkbox"]:checked + label:before,
			.wrapper.style1 input[type="radio"]:checked + label:before {
				background-color: #fff;
				border-color: #51BAA4;
				color: #555;
			}

			.wrapper.style1 input[type="checkbox"]:focus + label:before,
			.wrapper.style1 input[type="radio"]:focus + label:before {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

			.wrapper.style1 ::-webkit-input-placeholder {
				color: #bbb !important;
			}

			.wrapper.style1 :-moz-placeholder {
				color: #bbb !important;
			}

			.wrapper.style1 ::-moz-placeholder {
				color: #bbb !important;
			}

			.wrapper.style1 :-ms-input-placeholder {
				color: #bbb !important;
			}

			.wrapper.style1 .formerize-placeholder {
				color: #bbb !important;
			}

			.wrapper.style1 form.alt input[type="text"],
			.wrapper.style1 form.alt input[type="password"],
			.wrapper.style1 form.alt input[type="email"],
			.wrapper.style1 form.alt select,
			.wrapper.style1 form.alt textarea {
				background-color: transparent;
			}

			.wrapper.style1 ul.alt > li {
				border-top-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 table tbody tr {
				border-color: rgba(144, 144, 144, 0.25);
			}

				.wrapper.style1 table tbody tr:nth-child(2n + 1) {
					background-color: #fff;
				}

			.wrapper.style1 table th {
				color: #555;
			}

			.wrapper.style1 table thead {
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 table tfoot {
				border-top-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 table.alt tbody tr td {
				border-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 input[type="submit"],
			.wrapper.style1 input[type="reset"],
			.wrapper.style1 input[type="button"],
			.wrapper.style1 button,
			.wrapper.style1 .button {
				background-color: #555;
				box-shadow: none;
				color: #EEE !important;
			}

				.wrapper.style1 input[type="submit"].icon:before,
				.wrapper.style1 input[type="reset"].icon:before,
				.wrapper.style1 input[type="button"].icon:before,
				.wrapper.style1 button.icon:before,
				.wrapper.style1 .button.icon:before {
					color: #bbb;
				}

				.wrapper.style1 input[type="submit"]:hover,
				.wrapper.style1 input[type="reset"]:hover,
				.wrapper.style1 input[type="button"]:hover,
				.wrapper.style1 button:hover,
				.wrapper.style1 .button:hover {
					background-color: #626262;
				}

				.wrapper.style1 input[type="submit"]:active,
				.wrapper.style1 input[type="reset"]:active,
				.wrapper.style1 input[type="button"]:active,
				.wrapper.style1 button:active,
				.wrapper.style1 .button:active {
					background-color: #484848;
				}

				.wrapper.style1 input[type="submit"].special,
				.wrapper.style1 input[type="reset"].special,
				.wrapper.style1 input[type="button"].special,
				.wrapper.style1 button.special,
				.wrapper.style1 .button.special {
					background-color: #51BAA4;
					box-shadow: none;
					color: #fff !important;
				}

					.wrapper.style1 input[type="submit"].special:hover,
					.wrapper.style1 input[type="reset"].special:hover,
					.wrapper.style1 input[type="button"].special:hover,
					.wrapper.style1 button.special:hover,
					.wrapper.style1 .button.special:hover {
						background-color: #63c1ae;
					}

					.wrapper.style1 input[type="submit"].special:active,
					.wrapper.style1 input[type="reset"].special:active,
					.wrapper.style1 input[type="button"].special:active,
					.wrapper.style1 button.special:active,
					.wrapper.style1 .button.special:active {
						background-color: #45ad97;
					}

				.wrapper.style1 input[type="submit"].alt,
				.wrapper.style1 input[type="reset"].alt,
				.wrapper.style1 input[type="button"].alt,
				.wrapper.style1 button.alt,
				.wrapper.style1 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px #51BAA4;
					color: #51BAA4 !important;
				}

					.wrapper.style1 input[type="submit"].alt:hover,
					.wrapper.style1 input[type="reset"].alt:hover,
					.wrapper.style1 input[type="button"].alt:hover,
					.wrapper.style1 button.alt:hover,
					.wrapper.style1 .button.alt:hover {
						background-color: #fff;
					}

					.wrapper.style1 input[type="submit"].alt:active,
					.wrapper.style1 input[type="reset"].alt:active,
					.wrapper.style1 input[type="button"].alt:active,
					.wrapper.style1 button.alt:active,
					.wrapper.style1 .button.alt:active {
						background-color: rgba(144, 144, 144, 0.2);
					}

		.wrapper.style2 {
			background-color: #1E2832;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #fff;
			}

			.wrapper.style2 a {
				color: #51BAA4;
			}

			.wrapper.style2 strong, .wrapper.style2 b {
				color: #fff;
			}

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
				color: #fff;
			}

			.wrapper.style2 blockquote {
				border-left-color: transparent;
			}

			.wrapper.style2 code {
				background: rgba(255, 255, 255, 0.05);
				border-color: transparent;
			}

			.wrapper.style2 hr {
				border-bottom-color: transparent;
			}

			.wrapper.style2 header p {
				color: #fff;
			}

			.wrapper.style2 .feature {
				background-color: rgba(255, 255, 255, 0.05);
			}

			.wrapper.style2 label {
				color: #fff;
			}

			.wrapper.style2 input[type="text"],
			.wrapper.style2 input[type="password"],
			.wrapper.style2 input[type="email"],
			.wrapper.style2 select,
			.wrapper.style2 textarea {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: transparent;
				color: inherit;
			}

				.wrapper.style2 input[type="text"]:focus,
				.wrapper.style2 input[type="password"]:focus,
				.wrapper.style2 input[type="email"]:focus,
				.wrapper.style2 select:focus,
				.wrapper.style2 textarea:focus {
					border-color: #51BAA4;
					box-shadow: 0 0 0 1px #51BAA4;
				}

			.wrapper.style2 .select-wrapper:before {
				color: transparent;
			}

			.wrapper.style2 input[type="checkbox"] + label,
			.wrapper.style2 input[type="radio"] + label {
				color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style2 input[type="checkbox"] + label:before,
				.wrapper.style2 input[type="radio"] + label:before {
					background-color: rgba(255, 255, 255, 0.05);
					border-color: transparent;
				}

			.wrapper.style2 input[type="checkbox"]:checked + label:before,
			.wrapper.style2 input[type="radio"]:checked + label:before {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: #51BAA4;
				color: #fff;
			}

			.wrapper.style2 input[type="checkbox"]:focus + label:before,
			.wrapper.style2 input[type="radio"]:focus + label:before {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

			.wrapper.style2 ::-webkit-input-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style2 :-moz-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style2 ::-moz-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style2 :-ms-input-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style2 .formerize-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style2 form.alt input[type="text"],
			.wrapper.style2 form.alt input[type="password"],
			.wrapper.style2 form.alt input[type="email"],
			.wrapper.style2 form.alt select,
			.wrapper.style2 form.alt textarea {
				background-color: transparent;
			}

			.wrapper.style2 ul.alt > li {
				border-top-color: transparent;
			}

			.wrapper.style2 table tbody tr {
				border-color: transparent;
			}

				.wrapper.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.05);
				}

			.wrapper.style2 table th {
				color: #fff;
			}

			.wrapper.style2 table thead {
				border-bottom-color: transparent;
			}

			.wrapper.style2 table tfoot {
				border-top-color: transparent;
			}

			.wrapper.style2 table.alt tbody tr td {
				border-color: transparent;
			}

			.wrapper.style2 input[type="submit"],
			.wrapper.style2 input[type="reset"],
			.wrapper.style2 input[type="button"],
			.wrapper.style2 button,
			.wrapper.style2 .button {
				background-color: #fff;
				box-shadow: none;
				color: #1E2832 !important;
			}

				.wrapper.style2 input[type="submit"].icon:before,
				.wrapper.style2 input[type="reset"].icon:before,
				.wrapper.style2 input[type="button"].icon:before,
				.wrapper.style2 button.icon:before,
				.wrapper.style2 .button.icon:before {
					color: #a5a9ad;
				}

				.wrapper.style2 input[type="submit"]:hover,
				.wrapper.style2 input[type="reset"]:hover,
				.wrapper.style2 input[type="button"]:hover,
				.wrapper.style2 button:hover,
				.wrapper.style2 .button:hover {
					background-color: white;
				}

				.wrapper.style2 input[type="submit"]:active,
				.wrapper.style2 input[type="reset"]:active,
				.wrapper.style2 input[type="button"]:active,
				.wrapper.style2 button:active,
				.wrapper.style2 .button:active {
					background-color: #f2f2f2;
				}

				.wrapper.style2 input[type="submit"].special,
				.wrapper.style2 input[type="reset"].special,
				.wrapper.style2 input[type="button"].special,
				.wrapper.style2 button.special,
				.wrapper.style2 .button.special {
					background-color: #51BAA4;
					box-shadow: none;
					color: #fff !important;
				}

					.wrapper.style2 input[type="submit"].special:hover,
					.wrapper.style2 input[type="reset"].special:hover,
					.wrapper.style2 input[type="button"].special:hover,
					.wrapper.style2 button.special:hover,
					.wrapper.style2 .button.special:hover {
						background-color: #63c1ae;
					}

					.wrapper.style2 input[type="submit"].special:active,
					.wrapper.style2 input[type="reset"].special:active,
					.wrapper.style2 input[type="button"].special:active,
					.wrapper.style2 button.special:active,
					.wrapper.style2 .button.special:active {
						background-color: #45ad97;
					}

				.wrapper.style2 input[type="submit"].alt,
				.wrapper.style2 input[type="reset"].alt,
				.wrapper.style2 input[type="button"].alt,
				.wrapper.style2 button.alt,
				.wrapper.style2 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px #fff;
					color: #fff !important;
				}

					.wrapper.style2 input[type="submit"].alt:hover,
					.wrapper.style2 input[type="reset"].alt:hover,
					.wrapper.style2 input[type="button"].alt:hover,
					.wrapper.style2 button.alt:hover,
					.wrapper.style2 .button.alt:hover {
						background-color: rgba(255, 255, 255, 0.05);
					}

					.wrapper.style2 input[type="submit"].alt:active,
					.wrapper.style2 input[type="reset"].alt:active,
					.wrapper.style2 input[type="button"].alt:active,
					.wrapper.style2 button.alt:active,
					.wrapper.style2 .button.alt:active {
						background-color: rgba(255, 255, 255, 0.1);
					}

		.wrapper.style3 {
			background-color: #1E2832;
			color: rgba(255, 255, 255, 0.75);
			background-attachment: fixed;
			background-image: url("images/overlay.png"), url("../../images/pic11.jpg");
			background-size: cover;
		}

			.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
				color: #fff;
			}

			.wrapper.style3 a {
				color: #51BAA4;
			}

			.wrapper.style3 strong, .wrapper.style3 b {
				color: #fff;
			}

			.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #fff;
			}

			.wrapper.style3 blockquote {
				border-left-color: transparent;
			}

			.wrapper.style3 code {
				background: rgba(255, 255, 255, 0.05);
				border-color: transparent;
			}

			.wrapper.style3 hr {
				border-bottom-color: transparent;
			}

			.wrapper.style3 header p {
				color: #fff;
			}

			.wrapper.style3 .feature {
				background-color: rgba(255, 255, 255, 0.05);
			}

			.wrapper.style3 label {
				color: #fff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: transparent;
				color: inherit;
			}

				.wrapper.style3 input[type="text"]:focus,
				.wrapper.style3 input[type="password"]:focus,
				.wrapper.style3 input[type="email"]:focus,
				.wrapper.style3 select:focus,
				.wrapper.style3 textarea:focus {
					border-color: #51BAA4;
					box-shadow: 0 0 0 1px #51BAA4;
				}

			.wrapper.style3 .select-wrapper:before {
				color: transparent;
			}

			.wrapper.style3 input[type="checkbox"] + label,
			.wrapper.style3 input[type="radio"] + label {
				color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style3 input[type="checkbox"] + label:before,
				.wrapper.style3 input[type="radio"] + label:before {
					background-color: rgba(255, 255, 255, 0.05);
					border-color: transparent;
				}

			.wrapper.style3 input[type="checkbox"]:checked + label:before,
			.wrapper.style3 input[type="radio"]:checked + label:before {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: #51BAA4;
				color: #fff;
			}

			.wrapper.style3 input[type="checkbox"]:focus + label:before,
			.wrapper.style3 input[type="radio"]:focus + label:before {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

			.wrapper.style3 ::-webkit-input-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style3 :-moz-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style3 ::-moz-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style3 :-ms-input-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style3 .formerize-placeholder {
				color: #a5a9ad !important;
			}

			.wrapper.style3 form.alt input[type="text"],
			.wrapper.style3 form.alt input[type="password"],
			.wrapper.style3 form.alt input[type="email"],
			.wrapper.style3 form.alt select,
			.wrapper.style3 form.alt textarea {
				background-color: transparent;
			}

			.wrapper.style3 ul.alt > li {
				border-top-color: transparent;
			}

			.wrapper.style3 table tbody tr {
				border-color: transparent;
			}

				.wrapper.style3 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.05);
				}

			.wrapper.style3 table th {
				color: #fff;
			}

			.wrapper.style3 table thead {
				border-bottom-color: transparent;
			}

			.wrapper.style3 table tfoot {
				border-top-color: transparent;
			}

			.wrapper.style3 table.alt tbody tr td {
				border-color: transparent;
			}

			.wrapper.style3 input[type="submit"],
			.wrapper.style3 input[type="reset"],
			.wrapper.style3 input[type="button"],
			.wrapper.style3 button,
			.wrapper.style3 .button {
				background-color: #fff;
				box-shadow: none;
				color: #1E2832 !important;
			}

				.wrapper.style3 input[type="submit"].icon:before,
				.wrapper.style3 input[type="reset"].icon:before,
				.wrapper.style3 input[type="button"].icon:before,
				.wrapper.style3 button.icon:before,
				.wrapper.style3 .button.icon:before {
					color: #a5a9ad;
				}

				.wrapper.style3 input[type="submit"]:hover,
				.wrapper.style3 input[type="reset"]:hover,
				.wrapper.style3 input[type="button"]:hover,
				.wrapper.style3 button:hover,
				.wrapper.style3 .button:hover {
					background-color: white;
				}

				.wrapper.style3 input[type="submit"]:active,
				.wrapper.style3 input[type="reset"]:active,
				.wrapper.style3 input[type="button"]:active,
				.wrapper.style3 button:active,
				.wrapper.style3 .button:active {
					background-color: #f2f2f2;
				}

				.wrapper.style3 input[type="submit"].special,
				.wrapper.style3 input[type="reset"].special,
				.wrapper.style3 input[type="button"].special,
				.wrapper.style3 button.special,
				.wrapper.style3 .button.special {
					background-color: #51BAA4;
					box-shadow: none;
					color: #fff !important;
				}

					.wrapper.style3 input[type="submit"].special:hover,
					.wrapper.style3 input[type="reset"].special:hover,
					.wrapper.style3 input[type="button"].special:hover,
					.wrapper.style3 button.special:hover,
					.wrapper.style3 .button.special:hover {
						background-color: #63c1ae;
					}

					.wrapper.style3 input[type="submit"].special:active,
					.wrapper.style3 input[type="reset"].special:active,
					.wrapper.style3 input[type="button"].special:active,
					.wrapper.style3 button.special:active,
					.wrapper.style3 .button.special:active {
						background-color: #45ad97;
					}

				.wrapper.style3 input[type="submit"].alt,
				.wrapper.style3 input[type="reset"].alt,
				.wrapper.style3 input[type="button"].alt,
				.wrapper.style3 button.alt,
				.wrapper.style3 .button.alt {
					background-color: transparent;
					/* box-shadow: inset 0 0 0 2px #fff; */
					color: #fff !important;
				}

					.wrapper.style3 input[type="submit"].alt:hover,
					.wrapper.style3 input[type="reset"].alt:hover,
					.wrapper.style3 input[type="button"].alt:hover,
					.wrapper.style3 button.alt:hover,
					.wrapper.style3 .button.alt:hover {
						background-color: rgba(255, 255, 255, 0.05);
					}

					.wrapper.style3 input[type="submit"].alt:active,
					.wrapper.style3 input[type="reset"].alt:active,
					.wrapper.style3 input[type="button"].alt:active,
					.wrapper.style3 button.alt:active,
					.wrapper.style3 .button.alt:active {
						background-color: rgba(255, 255, 255, 0.1);
					}

		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 6em 0 4em 0;
			}

				.wrapper > .inner {
					width: 65em;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 5em 3em 3em 3em;
			}

				.wrapper > .inner {
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 2em 1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 2em 1em 0.1em 1em;
			}

		}

    /* can be deleted 3 */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
    }
  
    body {
      line-height: 1;
    }
  
    ol, ul {
      list-style: none;
    }
  
    blockquote, q {
      quotes: none;
    }
  
    blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none;
    }
  
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
  
    body {
      -webkit-text-size-adjust: none;
    }
  
  /* Box Model */
  
    *, *:before, *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  
  /* Containers */
  
    /* .container {
      margin-left: auto;
      margin-right: auto;
    }
  
    .container.\31 25\25 {
      width: 100%;
      max-width: 100em;
      min-width: 80em;
    }
  
    .container.\37 5\25 {
      width: 60em;
    }
  
    .container.\35 0\25 {
      width: 40em;
    }
  
    .container.\32 5\25 {
      width: 20em;
    }
  
    .container {
      width: 80em;
    } */
  
    /* @media screen and (max-width: 1680px) {
  
      .container.\31 25\25 {
        width: 100%;
        max-width: 100em;
        min-width: 80em;
      }
  
      .container.\37 5\25 {
        width: 60em;
      }
  
      .container.\35 0\25 {
        width: 40em;
      }
  
      .container.\32 5\25 {
        width: 20em;
      }
  
      .container {
        width: 80em;
      }
  
    } */
  
    /* @media screen and (max-width: 1280px) {
  
      .container.\31 25\25 {
        width: 100%;
        max-width: 81.25em;
        min-width: 65em;
      }
  
      .container.\37 5\25 {
        width: 48.75em;
      }
  
      .container.\35 0\25 {
        width: 32.5em;
      }
  
      .container.\32 5\25 {
        width: 16.25em;
      }
  
      .container {
        width: 65em;
      }
  
    } */
  
    /* @media screen and (max-width: 980px) {
  
      .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
      }
  
      .container.\37 5\25 {
        width: 67.5%;
      }
  
      .container.\35 0\25 {
        width: 45%;
      }
  
      .container.\32 5\25 {
        width: 22.5%;
      }
  
      .container {
        width: 90% !important;
      }
  
    } */
  
    /* @media screen and (max-width: 736px) {
  
      .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
      }
  
      .container.\37 5\25 {
        width: 67.5%;
      }
  
      .container.\35 0\25 {
        width: 45%;
      }
  
      .container.\32 5\25 {
        width: 22.5%;
      }
  
      .container {
        width: 90% !important;
      }
  
    } */
  
    /* @media screen and (max-width: 480px) {
  
      .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
      }
  
      .container.\37 5\25 {
        width: 67.5%;
      }
  
      .container.\35 0\25 {
        width: 45%;
      }
  
      .container.\32 5\25 {
        width: 22.5%;
      }
  
      .container {
        width: 90% !important;
      }
  
    } */
  
  /* Grid */
  
    .row {
      border-bottom: solid 1px transparent;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  
    .row > * {
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  
    .row:after, .row:before {
      content: '';
      display: block;
      clear: both;
      height: 0;
    }
  
    .row.uniform > * > :first-child {
      margin-top: 0;
    }
  
    .row.uniform > * > :last-child {
      margin-bottom: 0;
    }
  
    .row.\30 \25 > * {
      padding: 0 0 0 0em;
    }
  
    .row.\30 \25 {
      margin: 0 0 -1px 0em;
    }
  
    .row.uniform.\30 \25 > * {
      padding: 0em 0 0 0em;
    }
  
    .row.uniform.\30 \25 {
      margin: 0em 0 -1px 0em;
    }
  
    .row > * {
      padding: 0 0 0 2em;
    }
  
    .row {
      margin: 0 0 -1px -2em;
    }
  
    .row.uniform > * {
      padding: 2em 0 0 2em;
    }
  
    .row.uniform {
      margin: -2em 0 -1px -2em;
    }
  
    .row.\32 00\25 > * {
      padding: 0 0 0 4em;
    }
  
    .row.\32 00\25 {
      margin: 0 0 -1px -4em;
    }
  
    .row.uniform.\32 00\25 > * {
      padding: 4em 0 0 4em;
    }
  
    .row.uniform.\32 00\25 {
      margin: -4em 0 -1px -4em;
    }
  
    .row.\31 50\25 > * {
      padding: 0 0 0 3em;
    }
  
    .row.\31 50\25 {
      margin: 0 0 -1px -3em;
    }
  
    .row.uniform.\31 50\25 > * {
      padding: 3em 0 0 3em;
    }
  
    .row.uniform.\31 50\25 {
      margin: -3em 0 -1px -3em;
    }
  
    .row.\35 0\25 > * {
      padding: 0 0 0 1em;
    }
  
    .row.\35 0\25 {
      margin: 0 0 -1px -1em;
    }
  
    .row.uniform.\35 0\25 > * {
      padding: 1em 0 0 1em;
    }
  
    .row.uniform.\35 0\25 {
      margin: -1em 0 -1px -1em;
    }
  
    .row.\32 5\25 > * {
      padding: 0 0 0 0.5em;
    }
  
    .row.\32 5\25 {
      margin: 0 0 -1px -0.5em;
    }
  
    .row.uniform.\32 5\25 > * {
      padding: 0.5em 0 0 0.5em;
    }
  
    .row.uniform.\32 5\25 {
      margin: -0.5em 0 -1px -0.5em;
    }
  
    .\31 2u, .\31 2u\24 {
      width: 100%;
      clear: none;
      margin-left: 0;
    }
  
    .\31 1u, .\31 1u\24 {
      width: 91.6666666667%;
      clear: none;
      margin-left: 0;
    }
  
    .\31 0u, .\31 0u\24 {
      width: 83.3333333333%;
      clear: none;
      margin-left: 0;
    }
  
    .\39 u, .\39 u\24 {
      width: 75%;
      clear: none;
      margin-left: 0;
    }
  
    .\38 u, .\38 u\24 {
      width: 66.6666666667%;
      clear: none;
      margin-left: 0;
    }
  
    .\37 u, .\37 u\24 {
      width: 58.3333333333%;
      clear: none;
      margin-left: 0;
    }
  
    .\36 u, .\36 u\24 {
      width: 50%;
      clear: none;
      margin-left: 0;
    }
  
    .\35 u, .\35 u\24 {
      width: 41.6666666667%;
      clear: none;
      margin-left: 0;
    }
  
    .\34 u, .\34 u\24 {
      width: 33.3333333333%;
      clear: none;
      margin-left: 0;
    }
  
    .\33 u, .\33 u\24 {
      width: 25%;
      clear: none;
      margin-left: 0;
    }
  
    .\32 u, .\32 u\24 {
      width: 16.6666666667%;
      clear: none;
      margin-left: 0;
    }
  
    .\31 u, .\31 u\24 {
      width: 8.3333333333%;
      clear: none;
      margin-left: 0;
    }
  
    .\31 2u\24 + *,
    .\31 1u\24 + *,
    .\31 0u\24 + *,
    .\39 u\24 + *,
    .\38 u\24 + *,
    .\37 u\24 + *,
    .\36 u\24 + *,
    .\35 u\24 + *,
    .\34 u\24 + *,
    .\33 u\24 + *,
    .\32 u\24 + *,
    .\31 u\24 + * {
      clear: left;
    }
  
    .\-11u {
      margin-left: 91.66667%;
    }
  
    .\-10u {
      margin-left: 83.33333%;
    }
  
    .\-9u {
      margin-left: 75%;
    }
  
    .\-8u {
      margin-left: 66.66667%;
    }
  
    .\-7u {
      margin-left: 58.33333%;
    }
  
    .\-6u {
      margin-left: 50%;
    }
  
    .\-5u {
      margin-left: 41.66667%;
    }
  
    .\-4u {
      margin-left: 33.33333%;
    }
  
    .\-3u {
      margin-left: 25%;
    }
  
    .\-2u {
      margin-left: 16.66667%;
    }
  
    .\-1u {
      margin-left: 8.33333%;
    }
  
    @media screen and (max-width: 1680px) {
  
      .row > * {
        padding: 0 0 0 2em;
      }
  
      .row {
        margin: 0 0 -1px -2em;
      }
  
      .row.uniform > * {
        padding: 2em 0 0 2em;
      }
  
      .row.uniform {
        margin: -2em 0 -1px -2em;
      }
  
      .row.\32 00\25 > * {
        padding: 0 0 0 4em;
      }
  
      .row.\32 00\25 {
        margin: 0 0 -1px -4em;
      }
  
      .row.uniform.\32 00\25 > * {
        padding: 4em 0 0 4em;
      }
  
      .row.uniform.\32 00\25 {
        margin: -4em 0 -1px -4em;
      }
  
      .row.\31 50\25 > * {
        padding: 0 0 0 3em;
      }
  
      .row.\31 50\25 {
        margin: 0 0 -1px -3em;
      }
  
      .row.uniform.\31 50\25 > * {
        padding: 3em 0 0 3em;
      }
  
      .row.uniform.\31 50\25 {
        margin: -3em 0 -1px -3em;
      }
  
      .row.\35 0\25 > * {
        padding: 0 0 0 1em;
      }
  
      .row.\35 0\25 {
        margin: 0 0 -1px -1em;
      }
  
      .row.uniform.\35 0\25 > * {
        padding: 1em 0 0 1em;
      }
  
      .row.uniform.\35 0\25 {
        margin: -1em 0 -1px -1em;
      }
  
      .row.\32 5\25 > * {
        padding: 0 0 0 0.5em;
      }
  
      .row.\32 5\25 {
        margin: 0 0 -1px -0.5em;
      }
  
      .row.uniform.\32 5\25 > * {
        padding: 0.5em 0 0 0.5em;
      }
  
      .row.uniform.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
      }
  
      .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
      }
  
      .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
      }
  
      .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
      }
  
      .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 2u\24\28xlarge\29 + *,
      .\31 1u\24\28xlarge\29 + *,
      .\31 0u\24\28xlarge\29 + *,
      .\39 u\24\28xlarge\29 + *,
      .\38 u\24\28xlarge\29 + *,
      .\37 u\24\28xlarge\29 + *,
      .\36 u\24\28xlarge\29 + *,
      .\35 u\24\28xlarge\29 + *,
      .\34 u\24\28xlarge\29 + *,
      .\33 u\24\28xlarge\29 + *,
      .\32 u\24\28xlarge\29 + *,
      .\31 u\24\28xlarge\29 + * {
        clear: left;
      }
  
      .\-11u\28xlarge\29 {
        margin-left: 91.66667%;
      }
  
      .\-10u\28xlarge\29 {
        margin-left: 83.33333%;
      }
  
      .\-9u\28xlarge\29 {
        margin-left: 75%;
      }
  
      .\-8u\28xlarge\29 {
        margin-left: 66.66667%;
      }
  
      .\-7u\28xlarge\29 {
        margin-left: 58.33333%;
      }
  
      .\-6u\28xlarge\29 {
        margin-left: 50%;
      }
  
      .\-5u\28xlarge\29 {
        margin-left: 41.66667%;
      }
  
      .\-4u\28xlarge\29 {
        margin-left: 33.33333%;
      }
  
      .\-3u\28xlarge\29 {
        margin-left: 25%;
      }
  
      .\-2u\28xlarge\29 {
        margin-left: 16.66667%;
      }
  
      .\-1u\28xlarge\29 {
        margin-left: 8.33333%;
      }
  
    }
  
    @media screen and (max-width: 1280px) {
  
      .row > * {
        padding: 0 0 0 1.5em;
      }
  
      .row {
        margin: 0 0 -1px -1.5em;
      }
  
      .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
      }
  
      .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
      }
  
      .row.\32 00\25 > * {
        padding: 0 0 0 3em;
      }
  
      .row.\32 00\25 {
        margin: 0 0 -1px -3em;
      }
  
      .row.uniform.\32 00\25 > * {
        padding: 3em 0 0 3em;
      }
  
      .row.uniform.\32 00\25 {
        margin: -3em 0 -1px -3em;
      }
  
      .row.\31 50\25 > * {
        padding: 0 0 0 2.25em;
      }
  
      .row.\31 50\25 {
        margin: 0 0 -1px -2.25em;
      }
  
      .row.uniform.\31 50\25 > * {
        padding: 2.25em 0 0 2.25em;
      }
  
      .row.uniform.\31 50\25 {
        margin: -2.25em 0 -1px -2.25em;
      }
  
      .row.\35 0\25 > * {
        padding: 0 0 0 0.75em;
      }
  
      .row.\35 0\25 {
        margin: 0 0 -1px -0.75em;
      }
  
      .row.uniform.\35 0\25 > * {
        padding: 0.75em 0 0 0.75em;
      }
  
      .row.uniform.\35 0\25 {
        margin: -0.75em 0 -1px -0.75em;
      }
  
      .row.\32 5\25 > * {
        padding: 0 0 0 0.375em;
      }
  
      .row.\32 5\25 {
        margin: 0 0 -1px -0.375em;
      }
  
      .row.uniform.\32 5\25 > * {
        padding: 0.375em 0 0 0.375em;
      }
  
      .row.uniform.\32 5\25 {
        margin: -0.375em 0 -1px -0.375em;
      }
  
      .\31 2u\28large\29, .\31 2u\24\28large\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 1u\28large\29, .\31 1u\24\28large\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 0u\28large\29, .\31 0u\24\28large\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\39 u\28large\29, .\39 u\24\28large\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
      }
  
      .\38 u\28large\29, .\38 u\24\28large\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\37 u\28large\29, .\37 u\24\28large\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\36 u\28large\29, .\36 u\24\28large\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
      }
  
      .\35 u\28large\29, .\35 u\24\28large\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\34 u\28large\29, .\34 u\24\28large\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\33 u\28large\29, .\33 u\24\28large\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
      }
  
      .\32 u\28large\29, .\32 u\24\28large\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 u\28large\29, .\31 u\24\28large\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 2u\24\28large\29 + *,
      .\31 1u\24\28large\29 + *,
      .\31 0u\24\28large\29 + *,
      .\39 u\24\28large\29 + *,
      .\38 u\24\28large\29 + *,
      .\37 u\24\28large\29 + *,
      .\36 u\24\28large\29 + *,
      .\35 u\24\28large\29 + *,
      .\34 u\24\28large\29 + *,
      .\33 u\24\28large\29 + *,
      .\32 u\24\28large\29 + *,
      .\31 u\24\28large\29 + * {
        clear: left;
      }
  
      .\-11u\28large\29 {
        margin-left: 91.66667%;
      }
  
      .\-10u\28large\29 {
        margin-left: 83.33333%;
      }
  
      .\-9u\28large\29 {
        margin-left: 75%;
      }
  
      .\-8u\28large\29 {
        margin-left: 66.66667%;
      }
  
      .\-7u\28large\29 {
        margin-left: 58.33333%;
      }
  
      .\-6u\28large\29 {
        margin-left: 50%;
      }
  
      .\-5u\28large\29 {
        margin-left: 41.66667%;
      }
  
      .\-4u\28large\29 {
        margin-left: 33.33333%;
      }
  
      .\-3u\28large\29 {
        margin-left: 25%;
      }
  
      .\-2u\28large\29 {
        margin-left: 16.66667%;
      }
  
      .\-1u\28large\29 {
        margin-left: 8.33333%;
      }
  
    }
  
    @media screen and (max-width: 980px) {
  
      .row > * {
        padding: 0 0 0 1.5em;
      }
  
      .row {
        margin: 0 0 -1px -1.5em;
      }
  
      .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
      }
  
      .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
      }
  
      .row.\32 00\25 > * {
        padding: 0 0 0 3em;
      }
  
      .row.\32 00\25 {
        margin: 0 0 -1px -3em;
      }
  
      .row.uniform.\32 00\25 > * {
        padding: 3em 0 0 3em;
      }
  
      .row.uniform.\32 00\25 {
        margin: -3em 0 -1px -3em;
      }
  
      .row.\31 50\25 > * {
        padding: 0 0 0 2.25em;
      }
  
      .row.\31 50\25 {
        margin: 0 0 -1px -2.25em;
      }
  
      .row.uniform.\31 50\25 > * {
        padding: 2.25em 0 0 2.25em;
      }
  
      .row.uniform.\31 50\25 {
        margin: -2.25em 0 -1px -2.25em;
      }
  
      .row.\35 0\25 > * {
        padding: 0 0 0 0.75em;
      }
  
      .row.\35 0\25 {
        margin: 0 0 -1px -0.75em;
      }
  
      .row.uniform.\35 0\25 > * {
        padding: 0.75em 0 0 0.75em;
      }
  
      .row.uniform.\35 0\25 {
        margin: -0.75em 0 -1px -0.75em;
      }
  
      .row.\32 5\25 > * {
        padding: 0 0 0 0.375em;
      }
  
      .row.\32 5\25 {
        margin: 0 0 -1px -0.375em;
      }
  
      .row.uniform.\32 5\25 > * {
        padding: 0.375em 0 0 0.375em;
      }
  
      .row.uniform.\32 5\25 {
        margin: -0.375em 0 -1px -0.375em;
      }
  
      .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\39 u\28medium\29, .\39 u\24\28medium\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
      }
  
      .\38 u\28medium\29, .\38 u\24\28medium\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\37 u\28medium\29, .\37 u\24\28medium\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\36 u\28medium\29, .\36 u\24\28medium\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
      }
  
      .\35 u\28medium\29, .\35 u\24\28medium\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\34 u\28medium\29, .\34 u\24\28medium\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\33 u\28medium\29, .\33 u\24\28medium\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
      }
  
      .\32 u\28medium\29, .\32 u\24\28medium\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 u\28medium\29, .\31 u\24\28medium\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 2u\24\28medium\29 + *,
      .\31 1u\24\28medium\29 + *,
      .\31 0u\24\28medium\29 + *,
      .\39 u\24\28medium\29 + *,
      .\38 u\24\28medium\29 + *,
      .\37 u\24\28medium\29 + *,
      .\36 u\24\28medium\29 + *,
      .\35 u\24\28medium\29 + *,
      .\34 u\24\28medium\29 + *,
      .\33 u\24\28medium\29 + *,
      .\32 u\24\28medium\29 + *,
      .\31 u\24\28medium\29 + * {
        clear: left;
      }
  
      .\-11u\28medium\29 {
        margin-left: 91.66667%;
      }
  
      .\-10u\28medium\29 {
        margin-left: 83.33333%;
      }
  
      .\-9u\28medium\29 {
        margin-left: 75%;
      }
  
      .\-8u\28medium\29 {
        margin-left: 66.66667%;
      }
  
      .\-7u\28medium\29 {
        margin-left: 58.33333%;
      }
  
      .\-6u\28medium\29 {
        margin-left: 50%;
      }
  
      .\-5u\28medium\29 {
        margin-left: 41.66667%;
      }
  
      .\-4u\28medium\29 {
        margin-left: 33.33333%;
      }
  
      .\-3u\28medium\29 {
        margin-left: 25%;
      }
  
      .\-2u\28medium\29 {
        margin-left: 16.66667%;
      }
  
      .\-1u\28medium\29 {
        margin-left: 8.33333%;
      }
  
    }
  
    @media screen and (max-width: 736px) {
  
      .row > * {
        padding: 0 0 0 1.25em;
      }
  
      .row {
        margin: 0 0 -1px -1.25em;
      }
  
      .row.uniform > * {
        padding: 1.25em 0 0 1.25em;
      }
  
      .row.uniform {
        margin: -1.25em 0 -1px -1.25em;
      }
  
      .row.\32 00\25 > * {
        padding: 0 0 0 2.5em;
      }
  
      .row.\32 00\25 {
        margin: 0 0 -1px -2.5em;
      }
  
      .row.uniform.\32 00\25 > * {
        padding: 2.5em 0 0 2.5em;
      }
  
      .row.uniform.\32 00\25 {
        margin: -2.5em 0 -1px -2.5em;
      }
  
      .row.\31 50\25 > * {
        padding: 0 0 0 1.875em;
      }
  
      .row.\31 50\25 {
        margin: 0 0 -1px -1.875em;
      }
  
      .row.uniform.\31 50\25 > * {
        padding: 1.875em 0 0 1.875em;
      }
  
      .row.uniform.\31 50\25 {
        margin: -1.875em 0 -1px -1.875em;
      }
  
      .row.\35 0\25 > * {
        padding: 0 0 0 0.625em;
      }
  
      .row.\35 0\25 {
        margin: 0 0 -1px -0.625em;
      }
  
      .row.uniform.\35 0\25 > * {
        padding: 0.625em 0 0 0.625em;
      }
  
      .row.uniform.\35 0\25 {
        margin: -0.625em 0 -1px -0.625em;
      }
  
      .row.\32 5\25 > * {
        padding: 0 0 0 0.3125em;
      }
  
      .row.\32 5\25 {
        margin: 0 0 -1px -0.3125em;
      }
  
      .row.uniform.\32 5\25 > * {
        padding: 0.3125em 0 0 0.3125em;
      }
  
      .row.uniform.\32 5\25 {
        margin: -0.3125em 0 -1px -0.3125em;
      }
  
      .\31 2u\28small\29, .\31 2u\24\28small\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 1u\28small\29, .\31 1u\24\28small\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 0u\28small\29, .\31 0u\24\28small\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\39 u\28small\29, .\39 u\24\28small\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
      }
  
      .\38 u\28small\29, .\38 u\24\28small\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\37 u\28small\29, .\37 u\24\28small\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\36 u\28small\29, .\36 u\24\28small\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
      }
  
      .\35 u\28small\29, .\35 u\24\28small\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\34 u\28small\29, .\34 u\24\28small\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\33 u\28small\29, .\33 u\24\28small\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
      }
  
      .\32 u\28small\29, .\32 u\24\28small\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 u\28small\29, .\31 u\24\28small\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 2u\24\28small\29 + *,
      .\31 1u\24\28small\29 + *,
      .\31 0u\24\28small\29 + *,
      .\39 u\24\28small\29 + *,
      .\38 u\24\28small\29 + *,
      .\37 u\24\28small\29 + *,
      .\36 u\24\28small\29 + *,
      .\35 u\24\28small\29 + *,
      .\34 u\24\28small\29 + *,
      .\33 u\24\28small\29 + *,
      .\32 u\24\28small\29 + *,
      .\31 u\24\28small\29 + * {
        clear: left;
      }
  
      .\-11u\28small\29 {
        margin-left: 91.66667%;
      }
  
      .\-10u\28small\29 {
        margin-left: 83.33333%;
      }
  
      .\-9u\28small\29 {
        margin-left: 75%;
      }
  
      .\-8u\28small\29 {
        margin-left: 66.66667%;
      }
  
      .\-7u\28small\29 {
        margin-left: 58.33333%;
      }
  
      .\-6u\28small\29 {
        margin-left: 50%;
      }
  
      .\-5u\28small\29 {
        margin-left: 41.66667%;
      }
  
      .\-4u\28small\29 {
        margin-left: 33.33333%;
      }
  
      .\-3u\28small\29 {
        margin-left: 25%;
      }
  
      .\-2u\28small\29 {
        margin-left: 16.66667%;
      }
  
      .\-1u\28small\29 {
        margin-left: 8.33333%;
      }
  
    }
  
    @media screen and (max-width: 480px) {
  
      .row > * {
        padding: 0 0 0 1.25em;
      }
  
      .row {
        margin: 0 0 -1px -1.25em;
      }
  
      .row.uniform > * {
        padding: 1.25em 0 0 1.25em;
      }
  
      .row.uniform {
        margin: -1.25em 0 -1px -1.25em;
      }
  
      .row.\32 00\25 > * {
        padding: 0 0 0 2.5em;
      }
  
      .row.\32 00\25 {
        margin: 0 0 -1px -2.5em;
      }
  
      .row.uniform.\32 00\25 > * {
        padding: 2.5em 0 0 2.5em;
      }
  
      .row.uniform.\32 00\25 {
        margin: -2.5em 0 -1px -2.5em;
      }
  
      .row.\31 50\25 > * {
        padding: 0 0 0 1.875em;
      }
  
      .row.\31 50\25 {
        margin: 0 0 -1px -1.875em;
      }
  
      .row.uniform.\31 50\25 > * {
        padding: 1.875em 0 0 1.875em;
      }
  
      .row.uniform.\31 50\25 {
        margin: -1.875em 0 -1px -1.875em;
      }
  
      .row.\35 0\25 > * {
        padding: 0 0 0 0.625em;
      }
  
      .row.\35 0\25 {
        margin: 0 0 -1px -0.625em;
      }
  
      .row.uniform.\35 0\25 > * {
        padding: 0.625em 0 0 0.625em;
      }
  
      .row.uniform.\35 0\25 {
        margin: -0.625em 0 -1px -0.625em;
      }
  
      .row.\32 5\25 > * {
        padding: 0 0 0 0.3125em;
      }
  
      .row.\32 5\25 {
        margin: 0 0 -1px -0.3125em;
      }
  
      .row.uniform.\32 5\25 > * {
        padding: 0.3125em 0 0 0.3125em;
      }
  
      .row.uniform.\32 5\25 {
        margin: -0.3125em 0 -1px -0.3125em;
      }
  
      .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
      }
  
      .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
      }
  
      .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
      }
  
      .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
      }
  
      .\31 2u\24\28xsmall\29 + *,
      .\31 1u\24\28xsmall\29 + *,
      .\31 0u\24\28xsmall\29 + *,
      .\39 u\24\28xsmall\29 + *,
      .\38 u\24\28xsmall\29 + *,
      .\37 u\24\28xsmall\29 + *,
      .\36 u\24\28xsmall\29 + *,
      .\35 u\24\28xsmall\29 + *,
      .\34 u\24\28xsmall\29 + *,
      .\33 u\24\28xsmall\29 + *,
      .\32 u\24\28xsmall\29 + *,
      .\31 u\24\28xsmall\29 + * {
        clear: left;
      }
  
      .\-11u\28xsmall\29 {
        margin-left: 91.66667%;
      }
  
      .\-10u\28xsmall\29 {
        margin-left: 83.33333%;
      }
  
      .\-9u\28xsmall\29 {
        margin-left: 75%;
      }
  
      .\-8u\28xsmall\29 {
        margin-left: 66.66667%;
      }
  
      .\-7u\28xsmall\29 {
        margin-left: 58.33333%;
      }
  
      .\-6u\28xsmall\29 {
        margin-left: 50%;
      }
  
      .\-5u\28xsmall\29 {
        margin-left: 41.66667%;
      }
  
      .\-4u\28xsmall\29 {
        margin-left: 33.33333%;
      }
  
      .\-3u\28xsmall\29 {
        margin-left: 25%;
      }
  
      .\-2u\28xsmall\29 {
        margin-left: 16.66667%;
      }
  
      .\-1u\28xsmall\29 {
        margin-left: 8.33333%;
      }
  
    }

