<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About MIA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="./img/favicon.png" rel="icon"> -->
  <!-- <link href="./img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v2.2.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!-- <li class="active"><a href="index.html">Home</a></li> -->
          <li class="active drop-down">
            <a class="d-flex" href="">
              <i class="fa fa-paper-plane" id="nav-icons" aria-hidden="true"></i>
              <span>Discover MIA</span>
            </a>
            <ul>
              <li><a href="/about_us">About Us</a></li>
              <li><a href="/our_team">Our Team</a></li>
            </ul>
          </li>
          <li class="drop-down">
            <a class="d-flex" href="">
              <i class="fa fa-graduation-cap" id="nav-icons" aria-hidden="true"></i>
              <span>Our Programs</span>
            </a>
            <ul>
              <li><a href="/programs/prepa">MIA PREPA</a></li>
              <li><a href="/">MIA ORIENTS</a></li>
              <li><a href="/programs/olympiad">MIA Olympiads</a></li>
            </ul>
          </li>
          <!-- <li><a href="#about">About</a></li>8
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li> -->
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li class="d-flex">
            <i class="fa fa-book" id="nav-icons" aria-hidden="true"></i>
            <a href="/e_library">E-Library</a>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/support" class="get-started-btn scrollto">Support Us</a>

    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section> -->
    <!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="assets/img/portfolio/portfolio-details-1.jpg" class="img-fluid" alt="">
            <img src="assets/img/portfolio/portfolio-details-2.jpg" class="img-fluid" alt="">
            <img src="assets/img/portfolio/portfolio-details-3.jpg" class="img-fluid" alt="">
          </div>

          <!-- <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: ASU Company</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
          </div> -->

        </div>

        <div class="portfolio-description"
          style="position: relative; align-content: center; justify-content: center; width: 100%; display: flex;">
          <div style="position: relative; text-align: center; align-content: center; justify-content: center; display: flex; flex-direction: column;width: 90%;">
            <h2 style="align-self: center; font-size: 3rem;">Welcome to Model Initiative of Africa</h2>
            <p style="font-style: normal !important; line-height: normal; font-size: 1.2rem; text-align: center;">
              We are an organization out to valorize education through preparation and orientation of students into
              specific professional sectors based on their capacities.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End Portfolio Details Section -->

    <!-- Co founder Video -->
    <section id="founder-video">
      <div class="founder-youtube-video"
        style="width: 100%; position: relative; display: flex; justify-content: center; align-content: center;">
        <iframe width="727" height="409" src="https://www.youtube.com/embed/PLX3f4V3EI8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen style="align-self: center;">
          </iframe>
      </div>
    </section>


    <section id="ourVison">
      <!-- Intro -->
      <div id="intro" class="basic-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="text-container">
                <h2>Our Vision</h2>
                <p style="font-style: normal !important; line-height: normal; font-size: 1.2rem; text-align: justify;">
                  We envision the development and promotion of human capital by being the most innovative and
                  best-performing organization in Africa and a reference for differentiated and ethical leadership
                  development. </p>
                <!-- <p class="testimonial-text">"Our mission here at Aira is to get you through those tough moments relying on our team's expertise in starting and growing companies."</p> -->
                <!-- <div class="testimonial-author">By Founder</div> -->
              </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
              <div class="image-container">
                <img class="img-fluid" src="assets/img/mia_students.jpg" alt="alternative">
              </div> <!-- end of image-container -->
            </div> <!-- end of col -->
          </div> <!-- end of row -->
        </div> <!-- end of container -->
      </div> <!-- end of basic-1 -->
      <!-- end of intro -->
    </section>

    <section id="ourMission">
      <!-- Intro -->
      <div id="intro" class="basic-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="image-container">
                <img class="img-fluid" src="assets/img/olympiad2021/IMG_0350.JPG" alt="alternative">
              </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-5">
              <div class="text-container">
                <h2>Our Mission</h2>
                <p style="font-style: normal !important; line-height: normal; font-size: 1.2rem; text-align: justify;">
                  Use Education, and Leadership Development to accelerate community-led change and foster
                  socio-economic development and creativity in Cameroon and Africa. </p>
                <!-- <p class="testimonial-text">"Our mission here at Aira is to get you through those tough moments relying on our team's expertise in starting and growing companies."</p> -->
                <!-- <div class="testimonial-author">By Founder</div> -->
              </div> <!-- end of text-container -->
            </div> <!-- end of col -->

          </div> <!-- end of row -->
        </div> <!-- end of container -->
      </div> <!-- end of basic-1 -->
      <!-- end of intro -->
    </section>

    <!-- Details 1 -->
    <section id="details" class="accordion row">
      <div class="area-1 col-lg-7 col-12">
      </div>
      <!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
      <div class="area-2 col-lg-5 col-12">

        <!-- Accordion -->
        <div class="accordion-container" id="accordionOne">
          <h2>Our values</h2>
          <div class="item">
            <div id="headingOne">
              <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                role="button">
                <span class="circle-numbering">1</span><span class="accordion-title">Integrity</span>
              </span>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
              <div class="accordion-body">
                We operate in a responsible manner being accountable to our stakeholders.
              </div>
            </div>
          </div> <!-- end of item -->

          <div class="item">
            <div id="headingTwo">
              <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo" role="button">
                <span class="circle-numbering">2</span><span class="accordion-title">Authenticity</span>
              </span>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
              <div class="accordion-body">
                We are innovative in our approach to solving social challenges breaking new frontiers while challenging
                ourselves to be creative.
              </div>
            </div>
          </div> <!-- end of item -->

          <div class="item">
            <div id="headingThree">
              <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree" role="button">
                <span class="circle-numbering">3</span><span class="accordion-title">Support</span>
              </span>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
              <div class="accordion-body">We believe in helping each other grow so as to efficiently transfer our
                knowledge and efforts to ensure a brighter tomorrow.
              </div>
            </div>
          </div> <!-- end of item -->

          <div class="item">
            <div id="headingThree">
              <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree" role="button">
                <span class="circle-numbering">4</span><span class="accordion-title">Agility</span>
              </span>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
              <div class="accordion-body">We believe in helping each other grow so as to efficiently transfer our
                knowledge and efforts to ensure a brighter tomorrow.
              </div>
            </div>
          </div> <!-- end of item -->
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

      </div> <!-- end of area-2 -->
    </section> <!-- end of accordion -->
    <!-- end of details 1 -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Checkout</h2>
          <p>Our Approach</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/ourApproach/Pipeline.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4 style="text-align: justify;">PIPELINE OF HIGH ACHIEVING STUDENTS</h4>
                <span style="font-size: 1rem; line-height: 1.5rem; text-align: justify;">
                  Across over 150 schools within the MIA network, we provide support
                  students in STEM subjects while identifying very outstanding ones. Our
                  Partnership with Open Dreams and St. Louis Group has helped some students
                  secure global high quality eduction through scholarships.
                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/ourApproach/Support.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4 style="text-align: justify;">CAREER ORIENTATION AND ACADEMIC SUPPORT</h4>
                <span style="font-size: 1rem; line-height: 1.5rem; text-align: justify;">
                  MIA has served to bridge the gap between high school graduates and college, through
                  orientation sessions while improving intermobility between the two systems
                  of education in Cameroon.
                </span>
              </div>
            </div>

          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/ourApproach/3rd.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4 style="text-align: justify;">JOB READINESS PROGRAMS AND INTERNSHIP PLACEMENTS</h4>
                <span style="font-size: 1rem; line-height: 1.5rem; text-align: justify;">
                  MIAOrients: Elevate has builta broad network of industry
                  professionals leading oustanding careers in global multinationals and who are
                  passionate about mentoring and getting high talent ready for work.
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- End Team Section -->

  </main><!-- End #main -->
 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <!-- <h3>Gp<span>.</span></h3> -->
              <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
              <p>
                Rue 3.428, Ngoa-Ekelle,  <br>
                Yaounde, Centre Cameroon<br><br>
                <strong>Phone:</strong> (+237) 673 289 938 <br>
                <strong>Email:</strong> info@miafrik.org<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/miaforall" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/MIA4all" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/mia4all/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/mia4-all" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCsJoCUStMYFesaHJgL-a63Q" class="youtube"><i
                  class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about_us">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Career Orientation and Counseling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs/olympiad">College Readiness programs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/e_library">Online education accesses</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs/prepa">Professional Development</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter and stay updated</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MIA</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>