<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Mia E-Library</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <!-- <script defer src="assets/fontawesome/js/all.min.js"></script> -->

	<!-- Font Awesome Icon -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Vendor CSS Files -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
	<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="assets/vendor/aos/aos.css" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="assets/css/style.css" rel="stylesheet">
  

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

</head> 

<body>    
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!-- <li class="active"><a href="index.html">Home</a></li> -->
          <li class="active drop-down">
            <a class="d-flex" href="">
              <i class="fa fa-paper-plane" id="nav-icons" aria-hidden="true"></i>
              <span>Discover MIA</span>
            </a>
            <ul>
              <li><a href="/about_us">About Us</a></li>
              <li><a href="/our_team">Our Team</a></li>
            </ul>
          </li>
          <li class="drop-down">
            <a class="d-flex" href="">
              <i class="fa fa-graduation-cap" id="nav-icons" aria-hidden="true"></i>
              <span>Our Programs</span>
            </a>
            <ul>
              <li><a href="/programs/prepa">MIA PREPA</a></li>
              <li><a href="/">MIA ORIENTS</a></li>
              <li><a href="/programs/olympiad">MIA Olympiads</a></li>
            </ul>
          </li>
          <!-- <li><a href="#about">About</a></li>8
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li> -->
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li class="d-flex">
            <i class="fa fa-book" id="nav-icons" aria-hidden="true"></i>
            <a href="/e_library">E-Library</a>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/support" class="get-started-btn scrollto">Support Us</a>

    </div>
  </header>
  <!-- End Header -->
    
    <section class="hero-section mt-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
				    <div class="promo pr-md-3 pr-lg-5">
					    <h1 class="headline mb-3">
						    Get your Mobile App &amp; eBook <br>  
					    </h1><!--//headline-->
					    <div class="subheadline mb-4">
						    Learning made easy and accessible through our mobile application and books. You can choose today
						    to download the app and have access to torns of questions and other features. Also you can grap a copy of 
							any of our books and make yourself outstanding through knowledge. 
					    </div><!--//subheading-->
					    
					    <div class="cta-holder">
						    <a class="btn btn-primary mr-lg-2" href="#placeDemand">Pay for Your Book</a>
						    <a class="btn btn-secondary scrollto" href="https://drive.google.com/file/d/1VEmG7fe39i_NyKVLwgX-AxJKJg-aTF7X/view">Download our Mobile App</a>
						    
					    </div><!--//cta-holder-->
					    
					    <!-- <div class="hero-quotes mt-5">
						    <div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-ride="carousel" data-interval="8000">
								<ol class="carousel-indicators">
									<li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#quotes-carousel" data-slide-to="1"></li>
									<li data-target="#quotes-carousel" data-slide-to="2"></li>
								</ol>
							  
							    <div class="carousel-inner">
								    <div class="carousel-item active">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Excellent Book! Add your book reviews here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque, viverra quis erat vitae, auctor imperdiet nisi."     
								        </blockquote>
								        <div class="source media flex-column flex-md-row align-items-center">
									        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-1.png" alt="image" >
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">James Doe</div>
										        <div class="soure-title">Co-Founder, Startup Week</div>
										    </div>
								        </div>
								    </div>
								    <div class="carousel-item">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Highly recommended consectetur adipiscing elit. Proin et auctor dolor, sed venenatis massa. Vestibulum ullamcorper lobortis nisi non placerat praesent mauris neque"     
								        </blockquote>
								        <div class="source media flex-column flex-md-row align-items-center">
									        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-2.png" alt="image" >
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">Jean Doe</div>
										        <div class="soure-title">Senior Developer, Ipsum Company</div>
										    </div>
								        </div>
								    </div>
								    <div class="carousel-item">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Awesome! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque, viverra quis erat vitae."     
								        </blockquote>
								        <div class="source media flex-column flex-md-row align-items-center">
									        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-3.png" alt="image" >
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">Andy Doe</div>
										        <div class="soure-title">Frontend Developer, Company Lorem</div>
										    </div>
								        </div>
								    </div>
								</div>
							</div>
							
					    </div> -->
						
				    </div>
			    </div>
			    <div class="col-12 col-md-5 mb-5 align-self-center">
				    <div class="book-cover-holder">
					    <img class="img-fluid book-cover" src="assets/img/miabooks/Gateway_into_Polytechnique.png" alt="book cover" >
					    <div class="book-badge d-inline-block shadow">
						    New<br>Release
					    </div>
				    </div><!--//book-cover-holder-->
				    <!-- <div class="text-center"><a class="theme-link scrollto" href="#reviews-section">See all book reviews</a></div> -->
			    </div><!--col-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//hero-section-->
    
    <section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
	    <div class="container py-5">
		    <h2 class="section-heading text-center mb-3">Our Blog</h2>
		    <div class="section-intro single-col-max mx-auto text-center mb-5">Half Knowlege is no knowledge. Study to show yourself approved. Read the stories of the great and learn from them.</div>
		    <div class="row text-center">
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-laptop-code"></i></div>
						    <h3 class="item-heading">Build Lorem Ipsum lobortis nec mauris habitant morbi</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    List one of your book's benefits here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit consequat consequat. 
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-js-square"></i></div>
						    <h3 class="item-heading">Learn from lorem ipsum dolor sit amet consectetur</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    List one of your book's benefits here. Orci varius natoque penatibus et magnis dis parturient montes.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-rocketchat"></i></div>
						    <h3 class="item-heading">Discover phasellus id egestas tellus maximus</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    List one of your book's benefits here. Orci varius natoque penatibus et magnis dis parturient montes. 
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-angular"></i></div>
						    <h3 class="item-heading">Master aliquet augue ac ipsum lobortis interdum</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    List one of your book's benefits here. Orci varius natoque penatibus et magnis dis parturient montes. 
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-code-branch"></i></div>
						    <h3 class="item-heading">Deploy elementum mauris tincidunt tempus sagittis</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    List one of your book's benefits here. Orci varius natoque penatibus et magnis dis parturient montes. 
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-hand-holding-usd"></i></div>
						    <h3 class="item-heading">Become mattis est et mauris tempus non imperdiet</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    List one of your book's benefits here. Orci varius natoque penatibus et magnis dis parturient montes. 
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//benefits-section-->
    
    <section id="content-section" class="content-section">
	    <div class="container">
		    <div class="single-col-max mx-auto">
		    <h2 class="section-heading text-center mb-5">Our Mobile App</h2>
			    <div class="row">
				    <div class="col-12 col-md-6">
					    <div class="figure-holder mb-5">
						    <img class="img-fluid" src="assets/img/phone_preview_pic.png" alt="image" >
					    </div><!--//figure-holder-->
				    </div><!--//col-->
				    <div class="col-12 col-md-6 mb-5">
					    <div class="key-points mb-4 text-center">
						    <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
							    <li><i class="fas fa-check-circle mr-2"></i>With just one app, You have access to multiple Exam Questions</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Get free Notes with you as you go</li>
							    <!-- <li><i class="fas fa-check-circle mr-2"></i>EPUB curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Lorem ipsum dolor sit amet.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Praesent molestie odio risus. </li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li> -->
						    </ul>
						    <div class="text-center"><a class="btn btn-primary" href="https://drive.google.com/file/d/1VEmG7fe39i_NyKVLwgX-AxJKJg-aTF7X/view">I want this App</a></div>
					    </div><!--//key-points-->
					    
				    </div><!--//col-12-->   
			    </div><!--//row-->
		    </div><!--//single-col-max-->
	    </div><!--//container-->
    </section>
	<!--//content-section-->
    
    <section id="audience-section" class="audience-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center mb-4">Books on MIA Shelf</h2>
		    <div class="section-intro single-col-max mx-auto text-center mb-5">
			   Here is a List of Books already available on the MIA shelf. Drive in, explore and grasp all the concepts you need.
		    </div><!--//section-intro-->
		    <div class="row audience mx-auto">
			    <div class="item media" style="flex-direction: column;" style="flex-direction: column;">
				    <div class="item-icon mr-3 mb-2">
						<!-- <i class="fas fa-user-check"></i> -->
						<img style="width: 40rem; height: 20rem;" src="assets/img/miabooks/Other_Engineering_Schools.png" alt="">
					</div>
				    <div class="media-body">
					    <h4 class="item-title">Gateway Into Engineering Schools</h4>
					    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
			    <div class="item media mt-3" style="flex-direction: column;">
				    <div class="item-icon mr-3 mb-2">
						<!-- <i class="fas fa-user-check"></i> -->
						<img style="width: 40rem; height: 20rem;" class="" src="assets/img/miabooks/Gateway_into_Polytechnique.png" alt="">
					</div>
				    <div class="media-body">
					    <h4 class="item-title">Gateway Into Polytechnique</h4>
					    <div class="item-desc">
							Lecture Notes in Mathematics and Physics
							Reference Preparatory Guide for Entrance Exams into POLYTECHNIC CAMEROON.
						</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
			    <div class="item media mt-3" style="flex-direction: column;">
				    <div class="item-icon mr-3 mb-2">
						<!-- <i class="fas fa-user-check"></i> -->
						<img style="width: 40rem; height: 20rem;" src="assets/img/miabooks/5.png" alt="">
					</div>
				    <div class="media-body">
					    <h4 class="item-title">Medical School Secrets Text Book</h4>
					    <div class="item-desc">Reference Preparatory Guide for Entrance Exams into MEDICINE SCHOOLS Home and Abroad.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
			    <div class="item media mt-3" style="flex-direction: column;">
				    <div class="item-icon mr-3 mb-2">
						<!-- <i class="fas fa-user-check"></i> -->
						<img style="width: 40rem; height: 20rem;" src="assets/img/miabooks/4.png" alt="">
					</div>
				    <div class="media-body">
					    <h4 class="item-title">Impetus Study Guide</h4>
					    <div class="item-desc">Collection Of Past Question From 10 SCIENCE FACULTIES IN CAMEROON.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
				<div class="item media mt-3" style="flex-direction: column;">
				    <div class="item-icon mr-3 mb-2">
						<!-- <i class="fas fa-user-check"></i> -->
						<img style="width: 40rem; height: 20rem;" src="assets/img/miabooks/3.png" alt="">
					</div>
				    <div class="media-body">
					    <h4 class="item-title">Medical School Secrets Workbook</h4>
					    <div class="item-desc">Collection Of Past Questions And Detailed Solutions.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
				<div class="item media mt-3" style="flex-direction: column;">
				    <div class="item-icon mr-3 mb-2">
						<!-- <i class="fas fa-user-check"></i> -->
						<img style="width: 40rem; height: 20rem;" src="assets/img/miabooks/2(1).png" alt="">
					</div>
				    <div class="media-body">
					    <h4 class="item-title">Gateway Into Public Works</h4>
					    <div class="item-desc">
							Lecture Notes in Mathematics, Physics ,Chemistry and General knowledge
							Reference Preparatory Guide for Entrance Exams into PUBLIC WORKS Level 1.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
		    </div><!--//audience-->
	    </div><!--//container-->
    </section><!--//audience-section-->
    
    <section id="form-section" class="form-section">
	    <div class="container">
		    <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
			    <h2 class="form-heading text-center" id="placeDemand">Place A Demand</h2>
			    <div class="form-intro text-center mb-3">Sign up to place a demand of our books. <br> We are vailable 24/7 to receive your comand and make delivery available.</div>
			    <div class="form-wrapper">
				    <form class="form-inline justify-content-center flex-wrap">
						<div class="form-group mr-md-2 mb-3 mb-md-0">
							<label for="email" class="sr-only">Name</label>
							<input type="text" class="form-control " id="email" placeholder="Your Name">
						</div>
						<div class="form-group mr-md-2 mb-3 mb-md-0">
							<label for="email" class="sr-only">Name of Book</label>
							<select type="text" class="form-control " id="email" placeholder="Your Name">
								<option value="">Choose Book</option>
								<option value="">Gateway Into Engineering Schools</option>
								<option value="">Gateway Into Polytechnique</option>
								<option value="">Medical School Secrets Text Book</option>
								<option value="">Impetus Study Guide</option>
								<option value="">Medical School Secrets Workbook</option>
								<option value="">Gateway Into Public Works</option>
							</select>
						</div>
						<div class="form-group mr-md-2 mb-3 mb-md-0">
							<label for="email" class="sr-only">Phone Number</label>
							<input type="tel" class="form-control " id="email" placeholder="Phone Number">
						</div>
						<div class="form-group mr-md-2 mb-3 mb-md-0">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control " id="email" placeholder="Your Email">
						</div>
						<div class="form-group mr-md-2 mb-3 mb-md-0 mt-3">
							<!-- <label for="email" class="sr-only">Email</label> -->
							<input type="button" class="form-control " value="Place your Order" id="email" placeholder="Place your Order" style="background-color: #FFAB32; color: white; border-radius: 0.2rem;">
						</div>
						<!-- <button type="submit" class="btn btn-primary btn-submit form-group mr-md-2 mb-3 mb-md-0">Send</button> -->
					</form>
			    </div><!--//form-wrapper-->
		    </div><!--//lead-form-wrapper-->
	    </div><!--//container-->
    </section><!--//form-section-->
    
    <section id="reviews-section" class="reviews-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center">Testimonial</h2>
		    <div class="section-intro text-center single-col-max mx-auto mb-5">See what some students have to say about our books and mobile App </div>
		    <div class="row justify-content-center">
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    
					    <blockquote class="quote">
					        "Excellent Book! Add your book review here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. "     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-1.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">James Doe</div>
						        <div class="soure-title">Co-Founder, Startup Week</div>
						    </div>
				        </div><!--//source-->
				        <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Great Book! Add your book review here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-2.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Jean Doe</div>
						        <div class="soure-title">Co-Founder, Company Tristique</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Excellent Book! Add your book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus imperdiet id ligula tempor imperdiet."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-3.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Tom Doe</div>
						        <div class="soure-title">Product Designer, Company Lorem</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Another book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus imperdiet id ligula tempor imperdiet."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-4.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Alice Doe</div>
						        <div class="soure-title">App Developer, Company Ipsum</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Another book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus imperdiet id ligula tempor imperdiet."     
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-5.png" alt="image" >
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Sam Doe</div>
						        <div class="soure-title">Co-Founder, Company Integer</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
		    </div><!--//row-->
		    <div class="text-center">
		        <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/">Download Our Mobile App</a>
		    </div>
	    </div><!--//container-->
    </section><!--//reviews-section-->
    
    <!-- <section id="author-section" class="author-section section theme-bg-primary py-5">
	    <div class="container py-3">
		    <div class="author-profile text-center mb-5">
			    <img class="author-pic" src="assets/images/profiles/author-profile.png" alt="image" >
		    </div>
		    <h2 class="section-heading text-center text-white mb-3">About The Author</h2>
		    <div class="author-bio single-col-max mx-auto">
			    <p>This book landing page template is made by product designer <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers. You can use this template to self-publish and promote your book/ebook. You can easily use platforms such as <a class="theme-link" href="https://gumroad.com/" target="_blank">Gumroad</a> to handle your book payment and delivery.</p>
			    <p> This template is 100% FREE as long as you <strong>keep the footer attribution link</strong>. You do not have the rights to resell, sublicense or redistribute (even for free) the template on its own or as a separate attachment from any of your work. If you’d like to use this template without the footer attribution link, you can buy the <a class="theme-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/" target="_blank"><strong>commercial license</strong></a>.</p>
			    <div class="author-links text-center pt-4">
			        <h5 class="text-white mb-4">Follow Author</h5>
				    <ul class="social-list list-unstyled">
					    <li class="list-inline-item"><a href="https://twitter.com/3rdwave_themes"><i class="fab fa-twitter"></i></a></li>
					    <li class="list-inline-item"><a href="https://github.com/xriley"><i class="fab fa-github-alt"></i></a></li> 
			            <li class="list-inline-item"><a href="https://medium.com/@3rdwave_themes"><i class="fab fa-medium-m"></i></a></li>
			            
			            <li class="list-inline-item"><a href="https://themes.3rdwavemedia.com/"><i class="fas fa-globe-europe"></i></a></li>
			        </ul>
			    </div>
			    
		    </div>
		    
	    </div>
    </section> -->
	<!--//author-section-->
    
	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
		  <div class="container">
			<div class="row">
	
			  <div class="col-lg-3 col-md-6">
				<div class="footer-info">
				  <!-- <h3>Gp<span>.</span></h3> -->
				  <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
				  <p>
					Rue 3.428, Ngoa-Ekelle,  <br>
					Yaounde, Centre Cameroon<br><br>
					<strong>Phone:</strong> (+237) 673 289 938 <br>
					<strong>Email:</strong> info@miafrik.org<br>
				  </p>
				  <div class="social-links mt-3">
					<a href="https://twitter.com/miaforall" class="twitter"><i class="bx bxl-twitter"></i></a>
					<a href="https://www.facebook.com/MIA4all" class="facebook"><i class="bx bxl-facebook"></i></a>
					<a href="https://www.instagram.com/mia4all/" class="instagram"><i class="bx bxl-instagram"></i></a>
					<!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
					<a href="https://www.linkedin.com/company/mia4-all" class="linkedin"><i class="bx bxl-linkedin"></i></a>
					<a href="https://www.youtube.com/channel/UCsJoCUStMYFesaHJgL-a63Q" class="youtube"><i
					  class="bx bxl-youtube"></i></a>
				  </div>
				</div>
			  </div>
	
			  <div class="col-lg-2 col-md-6 footer-links">
				<h4>Useful Links</h4>
				<ul>
				  <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="/about_us">About us</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
				</ul>
			  </div>
	
			  <div class="col-lg-3 col-md-6 footer-links">
				<h4>Our Services</h4>
				<ul>
				  <li><i class="bx bx-chevron-right"></i> <a href="/">Career Orientation and Counseling</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="/programs/olympiad">College Readiness programs</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="/e_library">Online education accesses</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="/programs/prepa">Professional Development</a></li>
				  <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
				</ul>
			  </div>
	
			  <div class="col-lg-4 col-md-6 footer-newsletter">
				<h4>Our Newsletter</h4>
				<p>Subscribe to our Newsletter and stay updated</p>
				<form action="" method="post">
				  <input type="email" name="email"><input type="submit" value="Subscribe">
				</form>
	
			  </div>
	
			</div>
		  </div>
		</div>
	
		<div class="container">
		  <div class="copyright">
			&copy; Copyright <strong><span>MIA</span></strong>. All Rights Reserved
		  </div>
		</div>
	  </footer>
	  <!-- End Footer -->
	  <!-- ======= Footer ======= -->
  
	<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
	<div id="preloader"></div>
    

   
       
    <!-- Javascript -->          
    <script src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <script src="assets/plugins/jquery.scrollTo.min.js"></script>  
    <script src="assets/plugins/back-to-top.js"></script>  

	 <!-- Vendor JS Files -->
	 <script src="assets/vendor/jquery/jquery.min.js"></script>
	 <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	 <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	 <script src="assets/vendor/php-email-form/validate.js"></script>
	 <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
	 <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	 <script src="assets/vendor/venobox/venobox.min.js"></script>
	 <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	 <script src="assets/vendor/counterup/counterup.min.js"></script>
	 <script src="assets/vendor/aos/aos.js"></script>
    
	<script src="assets/js/main.js"></script>
    <script src="assets/js/e-library.js"></script>

</body>
</html> 

