<!DOCTYPE HTML>
<html>

<head>
    <title>MIA PREPA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap"
        rel="stylesheet">

    <!-- FontAwesome JS-->
    <!-- <script defer src=".assets/fontawesome/js/all.min.js"></script> -->

    <!-- Font Awesome Icon -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS File -->

    <!-- <link href="/assets/css/style.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="/assets/css/our-prog.css" /> -->

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- <h1 class="logo"><a href="index.html">Gp<span>.</span></a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo"><img src="/assets/img/miaPrepaLogo.png" alt="" class="img-fluid"></a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                  <!-- <li class="active"><a href="index.html">Home</a></li> -->
                  <li class="active drop-down">
                    <a class="d-flex" href="">
                      <i class="fa fa-paper-plane" id="nav-icons" aria-hidden="true"></i>
                      <span>Discover MIA</span>
                    </a>
                    <ul>
                      <li><a href="/about_us">About Us</a></li>
                      <li><a href="/our_team">Our Team</a></li>
                    </ul>
                  </li>
                  <li class="drop-down">
                    <a class="d-flex" href="">
                      <i class="fa fa-graduation-cap" id="nav-icons" aria-hidden="true"></i>
                      <span>Our Programs</span>
                    </a>
                    <ul>
                      <li><a href="/programs/prepa">MIA PREPA</a></li>
                      <li><a href="/">MIA ORIENTS</a></li>
                      <li><a href="/programs/olympiad">MIA Olympiads</a></li>
                    </ul>
                  </li>
                  <li class="d-flex">
                    <i class="fa fa-book" id="nav-icons" aria-hidden="true"></i>
                    <a href="/e_library">E-Library</a>
                  </li>
                </ul>
              </nav><!-- .nav-menu -->
        
              <a href="/support" class="get-started-btn scrollto">Support Us</a>

        </div>
    </header><!-- End Header -->

    <main id="main">
        <section class="landing" style="margin-bottom: 0rem; padding-bottom: 0rem;">
            <!-- Banner -->
            <section id="banner" style="background-image:url('/assets/img/olympiad2021/bg_prepa.JPG');">
                <!-- <div id="home-overlay"></div> -->
                <i class="icon fa-diamond"></i>
                <h2 style="color: #000; font-weight: 700;">Knowledge is Power</h2>
                <p style="font-weight: 600;">Invest today and reap happily tomorrow</p>
                <!-- <ul class="actions">
                    <li><a href="#" class="button big special">Learn More</a></li>
                </ul> -->

            </section>

        </section>
        <!-- One -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>What We Do</h2>
                    <p>College Readiness Programs</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                            <h4><a href="#">Selection</a></h4>
                            <p style="font-size: 1rem;text-align: justify;">
                                Our College Readiness Program prepares all students who successfully made it through
                                their high school examination be it GCE Advanced Level or Baccalauréat
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
                            <!-- <i class="fab fa-readme"></i> -->
                            <h4><a href="#">Period</a></h4>
                            <p style="font-size: 1rem;text-align: justify;">
                                Our College Readiness Program prepares students for three months from the months of July
                                to September depending on their selected fields
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
                            <h4><a href="#">Schools</a></h4>
                            <p style="font-size: 1rem;text-align: justify;">
                                Graduates from our summer college readiness programs have earned spots in the most
                                pre-eminent schools of engineering, medicine and agriculture in Cameroon and
                                internationally. With admission rates into these elite schools as low as 3%, our program
                                consistently improves the odds of student success.
                            </p>
                        </div>
                    </div>

                    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4><a href="">Dele cardo</a></h4>
                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
              </div>
            </div> -->

                    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4><a href="">Divera don</a></h4>
                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
              </div>
            </div> -->

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- Two -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>MIA PREPA</h2>
                    <p>Gallery</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">North West</li>
                            <li data-filter=".filter-card">Centre</li>
                            <li data-filter=".filter-web">Littoral</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/mia_students.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>App 1</h4>
                                <p>Orientation</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/students_writting.JPG" data-gall="portfolioGallery" class="venobox"
                                        title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/teacher_and_students.JPG" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Web 3</h4>
                                <p>Web</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/olympiads/IMG_0167.JPG" data-gall="portfolioGallery" class="venobox"
                                        title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/olympiad2021/IMG_0319.JPG" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>App 2</h4>
                                <p>App</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/olympiad2021/IMG_0350.JPG" data-gall="portfolioGallery"
                                        class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/olympiad2021/IMG_0338.JPG" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Card 2</h4>
                                <p>Card</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/mia_img_folder/_MG_9107.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/mia_img_folder/_MG_9109.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Web 2</h4>
                                <p>Web</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/olympiads/national_olypiad_bg.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/olympiad2021/IMG_0327.JPG" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>App 3</h4>
                                <p>App</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/mia_img_folder/_MG_9133.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/olympiad2021/IMG_0317.JPG" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Card 1</h4>
                                <p>Card</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/mia_img_folder/_MG_9097.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/mia_img_folder/_MG_9062.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Card 3</h4>
                                <p>Card</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/mia_img_folder/_MG_9076.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="/assets/img/mia_img_folder/_MG_9138.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Web 3</h4>
                                <p>Web</p>
                                <div class="portfolio-links">
                                    <a href="/assets/img/mia_img_folder/_MG_9142.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>MIA PREPA</h2>
                    <p>School Statistics</p>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <img src="/assets/img/MIAPerformance.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="clients">

            <div class="content-box-sm">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <div class="horizontal-heading">
                                <h5>Affiliated Institutions</h5>
                                <h2>Our Students <strong>Study at:</h2>
                            </div>

                        </div>

                    </div>

                    <div class="row wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">

                        <div class="col-md-12">

                            <div id="clients-list" class="owl-carousel owl-theme">

                                <!-- Client 01 -->
                                <div class="client">
                                    <img src="/assets/img/IconsforWebsite/CameroonMap.png" class="img-responsive"
                                        alt="client">
                                </div>
                                <!-- Client 02 -->
                                <div class="client">
                                    <img src="/assets/img/IconsforWebsite/Cameroon.png" class="img-responsive" alt="client">
                                </div>
                                <!-- Client 03 -->
                                <div class="client">
                                    <img src="/assets/img/IconsforWebsite/Olympiaparticipant2.png" class="img-responsive"
                                        alt="client">
                                </div>
                                <!-- Client 04 -->
                                <div class="client">
                                    <img src="/assets/img/patnering_schools/Edinburgh.png" class="img-responsive"
                                        alt="client">
                                </div>
                                <!-- Client 05 -->
                                <div class="client">
                                    <img src="/assets/img/patnering_schools/Lafayette College.png" class="img-responsive"
                                        alt="client">
                                </div>
                                <!-- Client 06 -->
                                <div class="client">
                                    <img src="/assets/img/patnering_schools/Mcgill .png" class="img-responsive" alt="client">
                                </div>
                                <!-- Client 07 -->
                                <div class="client">
                                    <img src="/assets/img/patnering_schools/U of T.png" class="img-responsive" alt="client">
                                </div>
                                <!-- Client 08 -->
                                <div class="client">
                                    <img src="/assets/img/patnering_schools/Wisconsin.png" class="img-responsive"
                                        alt="client">
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner"
                style="position: relative; display: flex; flex-direction: column; justify-content: center; align-content: center;">
                <header class="major narrow" style="position: relative; text-align: center;">
                    <h2 style="font-weight: 800;">Lets Make It Happen</h2>
                    <p
                        style="font-family: normal !important; line-height: normal; font-size: 1.5rem; font-weight: 700;">
                        Join us in orgarnizing the next preparatory classes</p>
                </header>
                <ul class="actions" style="position: relative; align-self: center;">
                    <li><a href="/support" class="button big alt"
                            style="background-color: #FFAB32; font-size: 1rem; border-radius: 0.2rem; border: 1px solid #FFAB32; padding: 0.7rem;">Support
                            Us</a></li>
                </ul>
            </div>
        </section>

        <!-- Four -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <!-- <div>
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
          </div> -->

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Rue 3.428, Ngoa-Ekelle, Yaounde, Centre Cameroon</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@miafrik.org</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>(+237) 673 289 938</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" data-rule="minlen:4"
                                        data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" data-rule="email"
                                        data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" data-rule="minlen:4"
                                    data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                    data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <!-- <h3>Gp<span>.</span></h3> -->
                            <a href="/" class="logo"><img src="/assets/img/miaPrepaLogo.png" alt=""
                                    class="img-fluid"></a>
                            <p>
                                Rue 3.428, Ngoa-Ekelle, <br>
                                Yaounde, Centre Cameroon<br><br>
                                <strong>Phone:</strong> (+237) 673 289 938 <br>
                                <strong>Email:</strong> info@miafrik.org<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/miaforall" class="twitter"><i
                                        class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/MIA4all" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/mia4all/" class="instagram"><i
                                        class="bx bxl-instagram"></i></a>
                                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                                <a href="https://www.linkedin.com/company/mia4-all" class="linkedin"><i
                                        class="bx bxl-linkedin"></i></a>
                                <a href="https://www.youtube.com/channel/UCsJoCUStMYFesaHJgL-a63Q" class="youtube"><i
                                        class="bx bxl-youtube"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/about_us">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/">Career Orientation and Counseling</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/programs/olympiad">College Readiness
                                    programs</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/e_library">Online education accesses</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/programs/prepa">Professional
                                    Development</a></li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Subscribe to our Newsletter and stay updated</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>MIA</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- ======= Footer ======= -->
    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>


    <!-- Javascript -->
    <script src="/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/plugins/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/jquery.scrollTo.min.js"></script>
    <script src="/assets/plugins/back-to-top.js"></script>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/ourprogram.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>