<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MIA Team</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="../img/favicon.png" rel="icon"> -->
  <!-- <link href="../img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v2.2.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">

    <!-- <h1 class="logo"><a href="index.html">Gp<span>.</span></a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <!-- <li class="active"><a href="index.html">Home</a></li> -->
        <li class="active drop-down">
          <a class="d-flex" href="">
            <i class="fa fa-paper-plane" id="nav-icons" aria-hidden="true"></i>
            <span>Discover MIA</span>
          </a>
          <ul>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/our_team">Our Team</a></li>
          </ul>
        </li>
        <li class="drop-down">
          <a class="d-flex" href="">
            <i class="fa fa-graduation-cap" id="nav-icons" aria-hidden="true"></i>
            <span>Our Programs</span>
          </a>
          <ul>
            <li><a href="/programs/prepa">MIA PREPA</a></li>
            <li><a href="/">MIA ORIENTS</a></li>
            <li><a href="/programs/olympiad">MIA Olympiads</a></li>
          </ul>
        </li>
        <li class="d-flex">
          <i class="fa fa-book" id="nav-icons" aria-hidden="true"></i>
          <a href="/e_library">E-Library</a>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

    <a href="/support" class="get-started-btn scrollto">Support Us</a>

  </div>
</header>
<!-- End Header -->

  <main id="main">
    <section style="height: 2vh;">

    </section>

    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Our Team</p>
        </div>


        <div class="section-title">
          <p style="font-size: 1.5rem;">Our Founders</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Mikah_Edwin_Nuilondea_Co-Founder _ Head.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/mikah_edwin "><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/mikah.edwin"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/mikah_edwin/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/mikah-edwin/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mikah Edwin Nuilondea</h4>
                <span>Co-Founder & Head (Non-Executive)</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Kwankekang_Seh_Christian_Co-Founder.JPG" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="icofont-twitter"></i></a>
                  <a href="#"><i class="icofont-facebook"></i></a>
                  <a href="#"><i class="icofont-instagram"></i></a>
                  <a href="#"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kwankekang Christian</h4>
                <span>Co-Founder</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Derick_Ngwa_Awambeng.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="icofont-twitter"></i></a>
                  <a href="#"><i class="icofont-facebook"></i></a>
                  <a href="#"><i class="icofont-instagram"></i></a>
                  <a href="#"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Derick Ngwa Awambeng</h4>
                <span>Co-Founder</span>
              </div>
            </div>
          </div>
        </div>

        <div class="section-title">
          <p style="font-size: 1.5rem;">Executive Team</p>
        </div>
        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Tasha_Elvis_Mbeuge_National_Supervisor.jpg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="icofont-twitter"></i></a> -->
                  <a href="https://m.facebook.com/tasha.rollinsmilton "><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/tasha_elvis_mbeuge "><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/tasha-elvis-mbeuge-a82828168 "><i
                      class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Tasha Elvis Mbeugue </h4>
                <span>National Supervisor (Country Head)</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Brenda_Fosso_Programmes_and_Engagement_Coordinator.png"
                  class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/ylvaz.brenda"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/p/CMnN5o8BCOv/?igshid=1rhh840s29mdo"><i
                      class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/brenda-fosso-a49295179"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Brenda Fosso Sob</h4>
                <span>Programmes & Engagement Coordinator</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Brenda_Gwaldys_Alemkeng_Co-Head_MIAPrepa.png" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="icofont-twitter"></i></a> -->
                  <a href="http//www.facebook.com/Alemkeng.Brenda"><i class="icofont-facebook"></i></a>
                  <a href="http//www.instagram.com/alemkengbrenda/"><i class="icofont-instagram"></i></a>
                  <a href="http//www.linkedin.com/ AlemkengBrenda/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>ALEMKENG Brenda</h4>
                <span>Co-Head of MIAPrepa </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Emmanuel_Daah_Regional_Supervisor_North_West.jpg" class="img-fluid"
                  alt="">
                <div class="social">
                  <a href="https://twitter.com/daah_emmanuel"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/emmanuel.daah.5"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/emmanuel_daah/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/emmanuel-daah-142806195"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Emmanuel Baah DAAH</h4>
                <span>Regional Supervisor, North West.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/mia_supervisors/Thierry_Otang_Otang_Regional_Supervisor_South West.jpg"
                  class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/otang_thierry"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/otang.thierryotang"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/thierry otang/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/otang-thierry-78806a193"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Otang Thierry Otang</h4>
                <span>Regional Supervisor, South West</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->
    <!-- ======= Cta Section 2 ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Volunteer With Us</h3>
          <p style="font-style: normal !important; line-height: normal; font-size: 1.2rem;">
            Join our team today and together lets create more impact
          </p>
          <a class="cta-btn"
            href="https://docs.google.com/forms/d/1Pnk_fnHMFj9Ssv2fzxtMXZW4bstTKznNHDatJYYoNqg/edit">Join Our Team</a>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <!-- <h3>Gp<span>.</span></h3> -->
              <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
              <p>
                Rue 3.428, Ngoa-Ekelle,  <br>
                Yaounde, Centre Cameroon<br><br>
                <strong>Phone:</strong> (+237) 673 289 938 <br>
                <strong>Email:</strong> info@miafrik.org<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/miaforall" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/MIA4all" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/mia4all/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/mia4-all" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCsJoCUStMYFesaHJgL-a63Q" class="youtube"><i
                  class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about_us">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Career Orientation and Counseling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs/olympiad">College Readiness programs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/e_library">Online education accesses</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs/prepa">Professional Development</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter and stay updated</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MIA</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>