<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Support Us</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Font Awesome Icon -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">


  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!-- <li class="active"><a href="index.html">Home</a></li> -->
          <li class="active drop-down">
            <a class="d-flex" href="">
              <i class="fa fa-paper-plane" id="nav-icons" aria-hidden="true"></i>
              <span>Discover MIA</span>
            </a>
            <ul>
              <li><a href="/about_us">About Us</a></li>
              <li><a href="/our_team">Our Team</a></li>
            </ul>
          </li>
          <li class="drop-down">
            <a class="d-flex" href="">
              <i class="fa fa-graduation-cap" id="nav-icons" aria-hidden="true"></i>
              <span>Our Programs</span>
            </a>
            <ul>
              <li><a href="/programs/prepa">MIA PREPA</a></li>
              <li><a href="/">MIA ORIENTS</a></li>
              <li><a href="/programs/olympiad">MIA Olympiads</a></li>
            </ul>
          </li>
          <!-- <li><a href="#about">About</a></li>8
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li> -->
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a href="#contact">Contact</a></li> -->
          <li class="d-flex">
            <i class="fa fa-book" id="nav-icons" aria-hidden="true"></i>
            <a href="/e_library">E-Library</a>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/support" class="get-started-btn scrollto">Support Us</a>

    </div>
  </header>
  <!-- End Header -->

  <main id="main">
    <section id="content-section" class="content-section">
      <div class="container">
        <div class="single-col-max mx-auto">
          <h2 class="section-heading text-center mb-5">Help Us Create An Impact</h2>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="figure-holder mb-5">
                <img class="img-fluid" src="assets/img/mia_img_folder/_MG_9088.jpg" alt="image">
                <input type="text" style="margin-top: 2rem;
                                padding: 1.5rem 4.5rem;
                                font-size: 1rem;" readonly
                  placeholder="Model Initiative of Africa is a non-profit organisation under Decree No XXX. Registration Number">
              </div>
              <!--//figure-holder-->
            </div>
            <!--//col-->
            <div class="col-12 col-md-6 mb-5">
              <div class="key-points mb-4 text-center row">
                <!-- <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
							    <li><i class="fas fa-check-circle mr-2"></i>List your book's content here.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>PDF fermentum tincidunt erat.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>EPUB curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Lorem ipsum dolor sit amet.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Praesent molestie odio risus. </li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
						    </ul> -->



                <!-- Uncomment Later -->

                <!-- <div class="text-center col-12 col-md-6 col-sm-12"><a class="btn btn-primary"
                    style="padding: 0rem 2.5rem;border-radius: 0.3rem;" href="#">Support Once</a>
                </div>
                <div class="text-center col-12 col-md-6 col-sm-12"><a class="btn btn-primary"
                    style="padding: 0rem 2.5rem;border-radius: 0.3rem;" href="#">Give Monthly</a>
                </div> -->




              </div>
              <!--//key-points-->
              <div>
                <h1 style="font-size: 2rem;">Transform a life today</h1>
                <p style="font-family: normal; text-align: justify; font-size: 1.2rem;">If you do not have much to spare
                  this instance, do think about us in
                  the future.
                  By supporting us, you’d be making a direct investment in grooming the future
                  transformative leaders of Africa, by helping them access quality education & Orientation.
                  With your support, we will together
                  be promoting socio-economic development and creature while
                  guaranteeing a more prosperous Africa.</p>
              </div>
            </div>
            <!--//col-12-->
          </div>
          <!--//row-->
          <div>
            <hr>
            <!-- <div class="row">
              <button class="col-md-2 mr-auto ml-auto col-4 col-sm-3" style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">$10</button>
              <button class="col-md-2 mr-auto ml-auto col-4 col-sm-3"  style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">$10</button>
              <button class="col-md-2 mr-auto ml-auto col-4 col-sm-3"  style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">$30</button>
              <button class="col-md-2 mr-auto ml-auto col-4 col-sm-3"  style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">$50</button>
              <button class="col-md-2 mr-auto ml-auto col-4 col-sm-3"  style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">$75</button>
              <button class="col-md-2 mr-auto ml-auto col-4 col-sm-3"  style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">$100</button>
            </div> -->
            <form>
              <div class="form-group">
                <label for="total_amount">Amount</label>
                <input type="number" class="form-control" id="total_amount" placeholder="Amount">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputfirstName4">First Name</label>
                  <input type="email" class="form-control" id="inputfirstName4" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLastName4">Last Name</label>
                  <input type="text" class="form-control" id="inputLastName4" placeholder="Last Name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPhoneNumber4">Phone Number</label>
                  <input type="number" class="form-control" id="inputPhoneNumber4" placeholder="Phone Number">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <input id="inputState" class="form-control">
                  <!-- <option selected>Choose...</option>
                    <option>...</option> -->
                  </input>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Do you want to be anonymous?
                  </label>
                </div>
              </div>
              <button id="payunit-pay" type="button" class="btn btn-primary" 
                style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38;">Pay Now</button>
            </form>
            <!-- <div style="display:flex; justify-content: center; ">
              <button id="payunit-pay" class="col-md-2 mr-auto ml-auto my-3"  style="padding: 1rem; border-radius: 0.3rem; color: white; background-color: #ffbb38; outline: none; font-size: 1rem;">Pay Now</button>
            </div> -->
            <hr>
          </div>
        </div>
        <!--//sing <div class="text-center col-12 col-md-6 col-sm-12"><a class="btn btn-primary" style="padding: 0rem 2.5rem;border-radius: 0.3rem;" href="#">Support Once</a></div>
                <div class="text-center col-12 col-md-6 col-sm-12"><a class="btn btn-primary" style="padding: 0rem 2.5rem;border-radius: 0.3rem;"  href="#">Give Monthly</a></div>le-col-max-->
      </div>
      <!--//container-->
    </section>
    <!--//content-section-->


    <!-- <div class="key-points mb-4 text-center row">
        <div class="text-center col-12 col-md-6 col-sm-12"><a class="btn btn-primary" style="padding: 0rem 2.5rem;border-radius: 0.3rem;" href="#">Support Once</a></div>
        <div class="text-center col-12 col-md-6 col-sm-12"><a class="btn btn-primary" style="padding: 0rem 2.5rem;border-radius: 0.3rem;"  href="#">Give Monthly</a></div>
    </div> -->
    <!-- //key-points -->

  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <!-- <h3>Gp<span>.</span></h3> -->
              <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
              <p>
                Rue 3.428, Ngoa-Ekelle, <br>
                Yaounde, Centre Cameroon<br><br>
                <strong>Phone:</strong> (+237) 673 289 938 <br>
                <strong>Email:</strong> info@miafrik.org<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/miaforall" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/MIA4all" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/mia4all/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/mia4-all" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCsJoCUStMYFesaHJgL-a63Q" class="youtube"><i
                    class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about_us">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Career Orientation and Counseling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs/olympiad">College Readiness programs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/e_library">Online education accesses</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/programs/prepa">Professional Development</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter and stay updated</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MIA</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <script type="module">
    var amount = 0;
    document.querySelector('#payunit-pay').addEventListener("click", getAmount);
    // document.querySelector('#payunit-pay').onclick = 
    function getAmount() {
      amount = document.querySelector('#total_amount').value;
      console.log(amount);
    };
    // document.querySelector('#payunit-pay').onclick = getAmount();

    import { PayUnit } from "https://cdn.jsdelivr.net/npm/payunitjs@1.0.4/dist/payunit.min.js";
    PayUnit(
      {
        apiUsername: "payunit_sand_ITNeZJDh6",
        apiPassword: "2634165a-d027-4187-bfbd-b8d815962c24",
        x_api_key: "44892cac179b942beb50584c69c2ef61ddb4ee32",
        mode: "test",
      },
      {
        return_url: "http://localhost:3000/support",
        notify_url: "",
        description: "For MIA payments",
        purchaseRef: "MIABooks",
        total_amount: amount,
        name: "MIA",
        currency: "XAF"
      }
    );
  </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>